## Designing the Database

Each citibike file records information about every single trip that was taken during a single month of the year. There are files for each month starting from June 2013. Each citibike file has the same format. The order and the description of the colomns are as follows:
- Trip Duration (seconds): The length of the trip in seconds
- Start Date & Time: The start time of the trip MM-DD-YYYY HH:MM:SS
- End Date & Time: The end time of the trip MM-DD-YYYY HH:MM:SS
- Start Station ID: The ID for the station where the trip started
- Start Station Name: The name of the station where the trip started
- Start Station Latitude: The latitude of the station where the trip started
- Start Station Longitude: The longitude of the station where the trip started
- End Station ID: The ID for the station where the trip ended
- End Station Name: The name of the station where the trip ended
- End Station Latitude: The latitude of the station where the trip ended
- End Station Longitude: The longitude of the station where the trip ended
- Bike ID: The ID for the bike that was used in the trip
- User Type: What type of user took the trip (Subscriber or Customer)
- Gender: The gender of the user (Male - 1, Female - 2, None - 0)
- Year of Birth: The year that the user was born

<img src="DatabaseDiagram.png" width="600" height="800" align="center"/>

## Connecting to the Database

In [1]:
pip install psycopg2-binary;

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.7/site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [3]:
# Put the password in 
PGHOST = 'tripdatabase.cmaaautpgbsf.us-east-2.rds.amazonaws.com'
PGDATABASE = ''
PGUSER = 'postgres'
PGPASSWORD = ''

In [4]:
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

## Populating the Staging Table

In [4]:
pip install s3fs;

Collecting s3fs
  Using cached s3fs-0.5.1-py3-none-any.whl (21 kB)
Collecting aiobotocore>=1.0.1
  Using cached aiobotocore-1.1.2-py3-none-any.whl (45 kB)
Collecting fsspec>=0.8.0
  Using cached fsspec-0.8.4-py3-none-any.whl (91 kB)
Requirement already satisfied: wrapt>=1.10.10 in /opt/conda/lib/python3.7/site-packages (from aiobotocore>=1.0.1->s3fs) (1.11.2)
Collecting aioitertools>=0.5.1
  Using cached aioitertools-0.7.1-py3-none-any.whl (20 kB)
Collecting botocore<1.17.45,>=1.17.44
  Using cached botocore-1.17.44-py2.py3-none-any.whl (6.5 MB)
Collecting aiohttp>=3.3.1
  Using cached aiohttp-3.7.3-cp37-cp37m-manylinux2014_x86_64.whl (1.3 MB)
Collecting typing_extensions>=3.7
  Using cached typing_extensions-3.7.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (1.25.8)
Requirement already satisfied: docutils<0.16,>=0.10 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (0.15.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (2.8.1)
Collecting yarl<2.0,>=1.0
  Using cached yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294 kB)
Collecting multidict<7.0,>=4.5
  Using cached multidict-5.0.2-cp37-cp37m-manylinux2014_x86_64.whl (142 kB)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (19.3.0)
Collecting async-timeout<4.0,>=3.0
  Using cached async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Requirement already satisfied: chardet<4.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.0.4)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (1.14.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.7/site-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (2.8)
ERROR: boto3 1.16.13 has requirement botocore<1.20.0,>=1.19.13, but you'll have botocore 1.17.44 which is incompatible.
ERROR: awscli 1.18.173 has requirement botocore==1.19.13, but you'll have botocore 1.17.44 which is incompatible.
Installing collected packages: typing-extensions, aioitertools, botocore, multidict, yarl, async-timeout, aiohttp, aiobotocore, fsspec, s3fs
  Attempting uninstall: botocore
    Found existing installation: botocore 1.19.13
    Uninstalling botocore-1.19.13:
      Successfully uninstalled botocore-1.19.13
  Attempting uninstall: fsspec
    Found existing installation: fsspec 0.6.2
    Uninstalling fsspec-0.6.2:
      Successfully uninstalled fsspec-0.6.2
Successfully installed aiobotocore-1.1.2 aiohttp-3.7.3 aioitertools-0.7.1 async-timeout-3.0.1 botocore-1.17.44 fsspec-0.8.4 multidict-5.0.2 s3fs-0.5.1 typing-extensions-3.7.4.3 yarl-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd
import s3fs
import os
from io import StringIO

In [6]:
ACCESS_KEY_ID = 'AKIARJEUISD2VILSZ6HM'
ACCESS_SECRET_KEY = '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'
bucket = "s3://williams-citibike/TripData/"
fs = s3fs.S3FileSystem(anon=False, key = ACCESS_KEY_ID, secret= ACCESS_SECRET_KEY)
trip_filenames = fs.ls("s3://williams-citibike/TripData/")[1:]

In [10]:
stagingtable = """
           CREATE TABLE IF NOT EXISTS staging (
               tripduration INTEGER, 
               starttime TIMESTAMP,
               endtime TIMESTAMP,
               startID NUMERIC,
               startname VARCHAR(64),
               start_lat REAL,
               start_long REAL,
               endID NUMERIC,
               endname VARCHAR(64),
               end_lat REAL,
               end_long REAL,
               bikeID INTEGER,
               usertype VARCHAR(16),
               birthyear REAL,
               gender SMALLINT                
          );
          """
cursor.execute("rollback;")
cursor.execute(stagingtable)
conn.commit()

In [11]:
def populate_stage(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
    
    datastream = StringIO()
    
    with fs.open("s3://"+datafile, 'r') as file:
        data = pd.read_csv(file, na_values ="") 
        data.fillna(-1, inplace=True) # Empty spaces need to be integers for birthyear column in database
        
        #Some stations have commas in their name causing the copy_from to register extra data fields
        data.iloc[:, 4] = data.iloc[:, 4].str.replace(',','_')
        data.iloc[:, 8] = data.iloc[:, 8].str.replace(',','_')
        
        # data.iloc[:, 3] = data.iloc[:, 3].astype('int32')
        # data.iloc[:, 7] = data.iloc[:, 7].astype('int32')
        
        data.to_csv(datastream, index=False, header = False)
        datastream.seek(0)

        cursor.copy_from(datastream,'staging',sep=',')
        conn.commit()
    
    datastream.close()
    print(f"Finished Uploading to Staging Table: {datafile}")
    return None

In [12]:
"""
cursor.execute("rollback;")
for file in trip_filenames:
    populate_staging(file)
"""

Finished Uploading to Raw: williams-citibike/TripData/2013-07 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-08 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-09 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-10 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-11 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-12 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/201306-citibike-tripdata.csv

## Populating the Station Table (Without the Neighborhood Code)

In [14]:
stationtable = """
               CREATE TABLE IF NOT EXISTS station (
                   stationID NUMERIC PRIMARY KEY,
                   name VARCHAR(64) NOT NULL,
                   latitude REAL,
                   longitude REAL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(stationtable)
conn.commit()

In [15]:
insert_query = """
               INSERT INTO station
               SELECT DISTINCT ON(endid) endid, endname, end_lat, end_long 
                FROM staging 
               ORDER BY endid;
               """

cursor.execute("rollback;")
cursor.execute(insert_query)
conn.commit()

## Populating the Trip Table

In [19]:
triptable = """
            CREATE TABLE IF NOT EXISTS trip (
                startime TIMESTAMP,
                endtime TIMESTAMP,
                tripduration INTEGER,
                startID NUMERIC,
                endID NUMERIC,
                usertype VARCHAR(16),
                birthyear REAL,
                gender SMALLINT
            );
            """
cursor.execute("rollback;")
cursor.execute(triptable)
conn.commit()

In [20]:
insert_query2 = """
                INSERT INTO trip
                SELECT starttime, endtime, tripduration, startid, endid, usertype, birthyear, gender
                  FROM staging
                 ORDER BY starttime, endtime;
                """

cursor.execute("rollback;")
cursor.execute(insert_query2)
conn.commit()

## Populating the Neighborhood Table

In [20]:
from bs4 import BeautifulSoup
import requests

In [21]:
# Attempt connection to the URL
HoodURL = "https://furmancenter.org/neighborhoods"
try:
    r2 = requests.get(HoodURL)
    r2.raise_for_status()
except requests.exceptions.HTTPError as errh:
    print(errh)

In [31]:
soup = BeautifulSoup(r2.content, "html.parser")

# The website has a dropdown with all the neighborhood codes and names
hood_code_names = []

#Instead of creating a dictionary like before, we create a list of tuples so that we can make a df
for code in soup.find_all('option')[1:]:
    hood_code_names.append((code.text[:4], code.text[6:].replace("/","-").replace(" ","_")))

In [34]:
hood_df = pd.DataFrame(hood_code_names, columns=["Code", "Name"])

In [40]:
borough = {
        "BK": "Brooklyn", 
        "BX": "Bronx",
        "MN": "Manhattan",
        "QN": "Queens",
        "SI": "Staten"
        }

hood_df["Borough"] = hood_df["Code"].str[0:2].map(borough)

In [48]:
hoodtable = """
            CREATE TABLE IF NOT EXISTS neighborhood (
                code CHAR(4) PRIMARY KEY,
                hoodname VARCHAR NOT NULL,
                borough VARCHAR(16) NOT NULL
            );
            """
cursor.execute("rollback;")
cursor.execute(hoodtable)
conn.commit()

In [50]:
hoodstream = StringIO()

hood_df.to_csv(hoodstream, index=False, header = False)
hoodstream.seek(0)

cursor.copy_from(hoodstream,'neighborhood',sep=',')
conn.commit()
    
hoodstream.close()

## TESTING: Creating a Neighborhood Profile Table

In [263]:
hood_filenames = fs.ls("s3://williams-citibike/HoodData/")[1:]

In [272]:
def flatten_hooddata(datafile: str) -> pd.DataFrame:
    """Grabs the data from the s3 bucket and flattens it to a single row consisting of the neighborhood attributes
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    pd.DataFrame:
        A single row DataFrame that contains the attributes of the neighborhood
    """
    
    cols_lst = [0,3,8]
    names_lst = ["code", "indicator", "2018"]
    
    with fs.open("s3://"+datafile, 'rb') as file:
        data = pd.read_excel(file, sheet_name=1, usecols = cols_lst, names = names_lst)
        
        # Prep the '2018' column so that it can used as the value argument in the pivot_table 
        data['2018'] = data['2018'].str.replace('$',"")
        data['2018'] = data['2018'].str.replace(',',"")

        # Values that are percents get turned into decimals
        for index, value in data['2018'].items():
            if isinstance(value,str):
                if value[-1] == '%':
                    data['2018'][index] = float(value.strip('%')) / 100
                    
        data['2018'] = pd.to_numeric(data['2018'])
        data = data.pivot_table(index=['code'],values='2018', columns='indicator')
        data = data.rename_axis(None, axis=1).reset_index()
        data['code'] = data['code'][0].replace(" ","")
         
    return data

In [292]:
hood_profile_df = pd.DataFrame()

for hood in hood_filenames:
    hood_profile_df = hood_profile_df.append(flatten_hooddata(hood))

In [293]:
hood_profile_df.head(30)

,code,Born in New York State,Car-free commute (% of commuters),Disabled population,FHA/VA-backed home purchase loans (% of home purchase loans),Foreign-born population,"Home purchase loan rate (per 1,000 properties)",Home purchase loans in LMI tracts (% of home purchase loans),Home purchase loans to LMI borrowers (% of home purchase loans),Homeownership rate,...,Severely rent-burdened households,"Severely rent-burdened households, low income","Severely rent-burdened households, moderate income",Single-person households,"Students performing at grade level in English language arts, 4th grade","Students performing at grade level in math, 4th grade","Total housing code violations (per 1,000 privately owned rental units)",Unemployment rate,Units authorized by new residential building permits,Units issued new certificates of occupancy
0,BK01,0.518,0.850,0.059,0.002,0.200,21.7,0.242,0.024,0.158,...,0.267,0.485,0.084,0.273,0.518,0.493,173.6,0.0245,1097.0,2472.0
0,BK02,0.460,0.887,0.070,0.000,0.187,27.8,0.115,0.013,0.313,...,0.192,0.392,0.067,0.350,0.587,0.554,101.5,0.0513,1442.0,1478.0
0,BK03,0.588,0.805,0.078,0.021,0.195,21.1,0.668,0.025,0.240,...,0.294,0.425,0.024,0.308,0.444,0.373,393.1,0.0577,619.0,856.0
0,BK04,0.458,0.832,0.090,0.039,0.276,20.0,0.993,0.034,0.135,...,0.318,0.459,0.019,0.274,0.369,0.315,462.4,0.0376,449.0,1502.0
0,BK05,0.545,0.672,0.068,0.504,0.356,18.5,0.766,0.068,0.273,...,0.329,0.418,0.000,0.320,0.356,0.335,495.2,0.0562,972.0,104.0
0,BK06,0.492,0.864,0.049,0.000,0.172,32.0,0.015,0.014,0.382,...,0.175,0.468,0.064,0.296,0.774,0.712,113.5,0.0551,120.0,229.0
0,BK07,0.397,0.804,0.046,0.013,0.441,20.3,0.419,0.056,0.281,...,0.317,0.488,0.003,0.217,0.502,0.523,247.9,0.0530,145.0,160.0
0,BK08,0.499,0.842,0.069,0.013,0.269,30.5,0.342,0.022,0.218,...,0.282,0.438,0.017,0.335,0.546,0.398,486.0,0.0546,158.0,517.0
0,BK09,0.451,0.802,0.052,0.012,0.375,20.3,0.655,0.037,0.145,...,0.324,0.480,0.000,0.334,0.412,0.372,546.7,0.0472,114.0,388.0
0,BK10,0.507,0.703,0.068,0.005,0.388,19.8,0.138,0.075,0.443,...,0.305,0.538,0.000,0.321,0.655,0.694,139.6,0.0361,45.0,12.0
0,BK11,0.400,0.698,0.057,0.005,0.545,18.2,0.586,0.111,0.363,...,0.343,0.479,0.002,0.218,0.657,0.681,179.3,0.0578,99.0,195.0
0,BK12,0.645,0.694,0.051,0.000,0.267,17.7,0.805,0.054,0.353,...,0.447,0.570,0.000,0.239,0.568,0.612,226.8,0.0424,166.0,174.0
0,BK13,0.386,0.669,0.100,0.006,0.550,14.4,0.425,0.129,0.293,...,0.307,0.372,0.000,0.319,0.491,0.451,252.3,0.0546,929.0,118.0
0,BK14,0.478,0.749,0.046,0.013,0.423,22.1,0.548,0.080,0.239,...,0.339,0.482,0.001,0.270,0.497,0.465,561.0,0.0477,157.0,347.0
0,BK15,0.445,0.581,0.055,0.012,0.485,22.1,0.321,0.117,0.451,...,0.311,0.437,0.000,0.257,0.603,0.576,192.8,0.0451,268.0,229.0
0,BK16,0.584,0.815,0.104,0.453,0.307,14.2,0.906,0.079,0.179,...,0.385,0.449,0.000,0.423,0.313,0.237,528.5,0.0638,774.0,218.0
0,BK17,0.427,0.692,0.044,0.332,0.507,18.3,0.416,0.091,0.363,...,0.332,0.439,0.002,0.280,0.443,0.347,634.8,0.0483,277.0,408.0
0,BK18,0.530,0.522,0.056,0.236,0.404,21.9,0.023,0.076,0.585,...,0.273,0.427,0.000,0.235,0.539,0.486,221.0,0.0476,54.0,21.0
0,BX01,0.575,0.772,0.159,0.206,0.284,12.4,1.000,0.074,0.086,...,0.336,0.384,0.000,0.347,0.332,0.297,357.8,0.1402,824.0,1106.0
0,BX02,0.575,0.772,0.159,0.206,0.284,12.4,1.000,0.074,0.086,...,0.336,0.384,0.000,0.347,0.241,0.218,545.1,0.1402,395.0,54.0
0,BX03,0.552,0.749,0.192,0.459,0.310,9.7,1.000,0.205,0.054,...,0.357,0.419,0.000,0.328,0.278,0.214,464.0,0.1332,381.0,480.0
0,BX04,0.460,0.809,0.140,0.107,0.416,8.9,0.982,0.179,0.049,...,0.390,0.436,0.000,0.338,0.325,0.311,654.3,0.1047,189.0,551.0
0,BX05,0.474,0.747,0.119,0.359,0.417,12.9,1.000,0.077,0.034,...,0.413,0.484,0.000,0.277,0.309,0.242,664.3,0.1346,544.0,224.0
0,BX06,0.552,0.749,0.192,0.459,0.310,9.7,1.000,0.205,0.054,...,0.357,0.419,0.000,0.328,0.290,0.247,627.9,0.1332,590.0,1125.0
0,BX07,0.443,0.797,0.121,0.116,0.452,16.7,0.698,0.200,0.070,...,0.367,0.436,0.000,0.270,0.320,0.271,527.6,0.0982,695.0,750.0
0,BX08,0.541,0.638,0.092,0.012,0.295,25.0,0.129,0.125,0.358,...,0.299,0.434,0.006,0.348,0.526,0.461,322.0,0.0869,63.0,102.0
0,BX09,0.514,0.677,0.108,0.252,0.356,12.3,0.732,0.238,0.213,...,0.326,0.405,0.000,0.286,0.352,0.301,457.3,0.0762,95.0,50.0
0,BX10,0.644,0.502,0.175,0.205,0.206,14.4,0.141,0.160,0.423,...,0.253,0.402,0.000,0.366,0.455,0.422,174.6,0.0708,50.0,56.0
0,BX11,0.531,0.581,0.132,0.199,0.331,20.2,0.541,0.146,0.302,...,0.329,0.422,0.002,0.306,0.403,0.362,287.0,0.0690,117.0,34.0
0,BX12,0.503,0.572,0.160,0.548,0.368,21.9,0.415,0.067,0.329,...,0.352,0.443,0.003,0.307,0.384,0.334,500.7,0.0944,121.0,228.0

In [228]:
data.head()

,code,Born in New York State,Car-free commute (% of commuters),Disabled population,FHA/VA-backed home purchase loans (% of home purchase loans),Foreign-born population,"Home purchase loan rate (per 1,000 properties)",Home purchase loans in LMI tracts (% of home purchase loans),Home purchase loans to LMI borrowers (% of home purchase loans),Homeownership rate,...,Severely rent-burdened households,"Severely rent-burdened households, low income","Severely rent-burdened households, moderate income",Single-person households,"Students performing at grade level in English language arts, 4th grade","Students performing at grade level in math, 4th grade","Total housing code violations (per 1,000 privately owned rental units)",Unemployment rate,Units authorized by new residential building permits,Units issued new certificates of occupancy
0,BK01,0.518,0.85,0.059,0.002,0.2,21.7,0.242,0.024,0.158,...,0.267,0.485,0.084,0.273,0.518,0.493,173.6,0.0245,1097.0,2472.0