## Connecting to the Database

In [2]:
pip install psycopg2-binary;

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install mxnet

Collecting mxnet
  Using cached mxnet-1.7.0.post2-py2.py3-none-manylinux2014_x86_64.whl (54.7 MB)
Collecting graphviz<0.9.0,>=0.8.1
  Using cached graphviz-0.8.4-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: numpy<2.0.0,>1.16.0 in /opt/conda/lib/python3.7/site-packages (from mxnet) (1.18.1)
Requirement already satisfied: requests<3,>=2.20.0 in /opt/conda/lib/python3.7/site-packages (from mxnet) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.20.0->mxnet) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.20.0->mxnet) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.20.0->mxnet) (1.25.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.7/site-packages (from requests<3,>=2.20.0->mxnet) (2020.12.5)
Installing collected packages: graphviz, mxnet
Successfully installed graphviz-0.8.4 mxnet-1.7.0.post2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2

In [63]:
# Put the password in 
PGHOST = 'tripdatabase2.cmaaautpgbsf.us-east-2.rds.amazonaws.com'
PGDATABASE = ''
PGUSER = 'postgres'
PGPASSWORD = 'Josh1234'

In [64]:
# Database Context Manager
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

In [6]:
import pandas as pd
import numpy as np
import Queries
import matplotlib.pyplot as plt
import seaborn as sns
import importlib
import s3fs
importlib.reload(Queries)

In [7]:
# The S3 Bucket that will be used to store the data should be created beforehand
ACCESS_KEY_ID = 'AKIARJEUISD2VILSZ6HM'
ACCESS_SECRET_KEY = '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'

fs = s3fs.S3FileSystem(anon=False, key = ACCESS_KEY_ID, secret= ACCESS_SECRET_KEY)

In [14]:
zipcode_file = "s3://williams-citibike/zipcodes.csv"

with fs.open(zipcode_file, 'r') as file:
    zipcodes = pd.read_csv(file, sep=',', low_memory = False)
    
zipcodes = zipcodes[zipcodes.country_name == 'United States']
zipcodes.drop(columns = ['cities_postalcode_id', 'state_name', 'state_code', 
                         'country_name','area_land_sq_miles', 'area_water_sq_miles',
                         'units_in_structure_housing_units_total_housing_units',
                         'predicted_qualified_leads_per_month'], inplace=True)

In [15]:
zipcodes.tail()

,zip_code,cbsa_type,zip_type,area_land_sq_meters,area_water_sq_meters,sex_and_age_population_total_population,sex_and_age_population_18_years_and_over_total_population,sex_and_age_age_median_age_years_total_population,employment_status_percent_in_labor_force_of_population_16_years_and_over,employment_status_percent_unemployed_of_civilian_labor_force_population_16_years_and_over,...,units_in_structure_percent_20_or_more_units_of_total_housing_units,households_by_type_population_average_household_size,educational_attainment_percent_bachelors_degree_or_higher_of_population_25_years_and_over,residence_1_year_ago_percent_diff_house_of_population_1_year_and_over,residence_1_year_ago_percent_same_house_of_population_1_year_and_over,residence_1_year_ago_population_population_1_year_and_over,school_enrollment_population_college_or_graduate_school_population_3_years_and_over_enrolled_in_school,population_density,percent_population_in_college_grad_school,zip_code_segment
43568,99926,NaN,Zip Code Area,3.439446e+08,2.928365e+08,1667.0,1163.0,32.4,0.594,0.143,...,0.023,3.70,0.092,0.115,0.885,1633.0,53.0,12.552900,0.031794,NaN
43569,99927,NaN,Zip Code Area,5.896901e+08,1.800157e+07,81.0,81.0,49.9,0.605,0.000,...,0.000,1.40,0.296,0.000,1.000,81.0,0.0,0.355761,0.000000,NaN
43570,99928,Micropolitan Statistical Area,Post Office or large volume customer,1.242480e+10,1.548638e+09,13745.0,10644.0,39.2,0.694,0.075,...,0.098,2.58,0.237,0.195,0.798,13578.0,557.0,2.865189,0.040524,NaN
43571,99929,NaN,Zip Code Area,5.635591e+09,6.377141e+08,2385.0,1890.0,48.6,0.604,0.072,...,0.033,2.25,0.204,0.117,0.875,2355.0,85.0,1.096091,0.035639,NaN
43572,99950,NaN,Zip Code Area,5.285066e+09,1.132247e+09,1800.0,1407.0,41.5,0.698,0.088,...,0.000,2.55,0.243,0.182,0.818,1779.0,51.0,0.882104,0.028333,NaN

In [16]:
station_zipcodes = Queries.get_zipcode_stations(conn)
station_zipcodes.zipcode = station_zipcodes.astype('str')
station_zipcodes.zipcode = station_zipcodes.zipcode.str.zfill(5)

NameError: name 'conn' is not defined

In [69]:
station_zipcodes.head()

  zipcode  num_stations
0   000-1             1
1   02108             4
2   02109             2
3   02110            10
4   02111             5

In [54]:
bikeshare_zipcodes = zipcodes.merge(station_zipcodes, how='inner', left_on='zip_code', right_on='zipcode').drop(columns=['zipcode'])

CBSA Type (Categorical)
There are two core based statistical area (cbsa) types in the United States: metropolitan and micropolitan. All the zipcodes that have bikeshare stations are metorpolitan statistical areas.

https://en.wikipedia.org/wiki/Core-based_statistical_area

Zip Type (Categorical)
- Zip Code Areas are typical ZIP Codes without any special designation. 
- Post Office or large volume customers typically occupy a very small geography and have few residential addresses located within them. 

Zip Code Segment (Categorical)
Describes the density and the type of people that are working in the area

In [10]:
bikeshare_zipcodes = pd.read_csv('./Data/Queries/station_zipcodes.csv')

In [13]:
bikeshare_zipcodes.columns

Index(['zip_code', 'cbsa_type', 'zip_type', 'area_land_sq_meters',
       'area_water_sq_meters', 'sex_and_age_population_total_population',
       'sex_and_age_population_18_years_and_over_total_population',
       'sex_and_age_age_median_age_years_total_population',
       'employment_status_percent_in_labor_force_of_population_16_years_and_over',
       'employment_status_percent_unemployed_of_civilian_labor_force_population_16_years_and_over',
       'employment_status_percent_armed_forces_of_population_16_years_and_over',
       'occupation_percent_management_business_science_and_arts_occupations_of_civilian_employed_population_16_years_and_over',
       'income_and_benefits_in_2016_inflation_adjusted_dollars_dollars_median_household_income_dollars',
       'income_and_benefits_in_2016_inflation_adjusted_dollars_dollars_per_capita_family_income_dollars',
       'housing_occupancy_housing_units_total_housing_units',
       'housing_occupancy_percent_vacant_housing_units_of_total_housing_units',
       'vehicles_available_housing_units_occupied_housing_units',
       'vehicles_available_percent_no_vehicles_available_of_occupied_housing_units',
       'value_dollars_median_dollars_owner_occupied_units',
       'gross_rent_dollars_median_dollars_occupied_units_paying_rent',
       'units_in_structure_housing_units_total_housing_units',
       'units_in_structure_percent_1_unit_attached_of_total_housing_units',
       'units_in_structure_percent_1_unit_detached_of_total_housing_units',
       'units_in_structure_percent_2_units_of_total_housing_units',
       'units_in_structure_percent_3_or_4_units_of_total_housing_units',
       'units_in_structure_percent_5_to_9_units_of_total_housing_units',
       'units_in_structure_percent_10_to_19_units_of_total_housing_units',
       'units_in_structure_percent_20_or_more_units_of_total_housing_units',
       'households_by_type_population_average_household_size',
       'educational_attainment_percent_bachelors_degree_or_higher_of_population_25_years_and_over',
       'residence_1_year_ago_percent_diff_house_of_population_1_year_and_over',
       'residence_1_year_ago_percent_same_house_of_population_1_year_and_over',
       'residence_1_year_ago_population_population_1_year_and_over',
       'school_enrollment_population_college_or_graduate_school_population_3_years_and_over_enrolled_in_school',
       'population_density', 'percent_population_in_college_grad_school',
       'zip_code_segment', 'num_stations'],
      dtype='object')