## Designing the Database

Each citibike file records information about every single trip that was taken during a single month of the year. There are files for each month starting from June 2013. Each citibike file has the same format. The order and the description of the colomns are as follows:
- Trip Duration (seconds): The length of the trip in seconds
- Start Date & Time: The start time of the trip MM-DD-YYYY HH:MM:SS
- End Date & Time: The end time of the trip MM-DD-YYYY HH:MM:SS
- Start Station ID: The ID for the station where the trip started
- Start Station Name: The name of the station where the trip started
- Start Station Latitude: The latitude of the station where the trip started
- Start Station Longitude: The longitude of the station where the trip started
- End Station ID: The ID for the station where the trip ended
- End Station Name: The name of the station where the trip ended
- End Station Latitude: The latitude of the station where the trip ended
- End Station Longitude: The longitude of the station where the trip ended
- Bike ID: The ID for the bike that was used in the trip
- User Type: What type of user took the trip (Subscriber or Customer)
- Gender: The gender of the user (Male - 1, Female - 2, None - 0)
- Year of Birth: The year that the user was born

<img src="DatabaseDiagram.png" width="600" height="800" align="center"/>

## Connecting to the Database

In [3]:
pip install psycopg2-binary;

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [4]:
import psycopg2

In [5]:
# Put the password in 
PGHOST = 'tripdatabase.cmaaautpgbsf.us-east-2.rds.amazonaws.com'
PGDATABASE = ''
PGUSER = 'postgres'
PGPASSWORD = 'Josh1234'

In [6]:
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

## Populating the Staging Table

In [10]:
pip install s3fs;

Collecting s3fs
  Using cached s3fs-0.5.1-py3-none-any.whl (21 kB)
Collecting aiobotocore>=1.0.1
  Using cached aiobotocore-1.1.2-py3-none-any.whl (45 kB)
Collecting fsspec>=0.8.0
  Using cached fsspec-0.8.4-py3-none-any.whl (91 kB)
Requirement already satisfied: wrapt>=1.10.10 in /opt/conda/lib/python3.7/site-packages (from aiobotocore>=1.0.1->s3fs) (1.11.2)
Collecting aiohttp>=3.3.1
  Using cached aiohttp-3.7.3-cp37-cp37m-manylinux2014_x86_64.whl (1.3 MB)
Collecting botocore<1.17.45,>=1.17.44
  Using cached botocore-1.17.44-py2.py3-none-any.whl (6.5 MB)
Collecting aioitertools>=0.5.1
  Using cached aioitertools-0.7.1-py3-none-any.whl (20 kB)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (19.3.0)
Collecting multidict<7.0,>=4.5
  Downloading multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142 kB)
     |████████████████████████████████| 142 kB 6.2 MB/s eta 0:00:01
Collecting yarl<2.0,>=1.0
  Using cached yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294 kB)
Collecting typing-extensions>=3.6.5
  Using cached typing_extensions-3.7.4.3-py3-none-any.whl (22 kB)
Requirement already satisfied: chardet<4.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.0.4)
Collecting async-timeout<4.0,>=3.0
  Using cached async_timeout-3.0.1-py3-none-any.whl (8.2 kB)
Requirement already satisfied: docutils<0.16,>=0.10 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (0.15.2)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (0.10.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (2.8.1)
Requirement already satisfied: urllib3<1.26,>=1.20; python_version != "3.4" in /opt/conda/lib/python3.7/site-packages (from botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (1.25.8)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.7/site-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (2.8)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.17.45,>=1.17.44->aiobotocore>=1.0.1->s3fs) (1.14.0)
ERROR: boto3 1.16.19 has requirement botocore<1.20.0,>=1.19.19, but you'll have botocore 1.17.44 which is incompatible.
ERROR: awscli 1.18.179 has requirement botocore==1.19.19, but you'll have botocore 1.17.44 which is incompatible.
Installing collected packages: multidict, typing-extensions, yarl, async-timeout, aiohttp, botocore, aioitertools, aiobotocore, fsspec, s3fs
  Attempting uninstall: botocore
    Found existing installation: botocore 1.19.19
    Uninstalling botocore-1.19.19:
      Successfully uninstalled botocore-1.19.19
  Attempting uninstall: fsspec
    Found existing installation: fsspec 0.6.2
    Uninstalling fsspec-0.6.2:
      Successfully uninstalled fsspec-0.6.2
Successfully installed aiobotocore-1.1.2 aiohttp-3.7.3 aioitertools-0.7.1 async-timeout-3.0.1 botocore-1.17.44 fsspec-0.8.4 multidict-5.1.0 s3fs-0.5.1 typing-extensions-3.7.4.3 yarl-1.6.3
Note: you may need to restart the kernel to use updated packages.

In [7]:
import pandas as pd
import s3fs
import os
from io import StringIO

In [8]:
ACCESS_KEY_ID = 'AKIARJEUISD2VILSZ6HM'
ACCESS_SECRET_KEY = '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'

fs = s3fs.S3FileSystem(anon=False, key = ACCESS_KEY_ID, secret= ACCESS_SECRET_KEY)
trip_filenames = fs.ls("s3://williams-citibike/TripData/")[1:]

In [10]:
staging_table_query = """
           CREATE TABLE IF NOT EXISTS staging (
               tripduration INTEGER, 
               starttime TIMESTAMP,
               endtime TIMESTAMP,
               startID NUMERIC,
               startname VARCHAR(64),
               start_lat REAL,
               start_long REAL,
               endID NUMERIC,
               endname VARCHAR(64),
               end_lat REAL,
               end_long REAL,
               bikeID INTEGER,
               usertype VARCHAR(16),
               birthyear REAL,
               gender SMALLINT                
          );
          """
cursor.execute("rollback;")
cursor.execute(staging_table_query)
conn.commit()

In [11]:
def populate_stage(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
    
    datastream = StringIO()
    
    with fs.open("s3://"+datafile, 'r') as file:
        data = pd.read_csv(file, na_values ="") 
        data.fillna(-1, inplace=True) # Empty spaces need to be integers for birthyear column in database
        
        #Some stations have commas in their name causing the copy_from to register extra data fields
        data.iloc[:, 4] = data.iloc[:, 4].str.replace(',','_')
        data.iloc[:, 8] = data.iloc[:, 8].str.replace(',','_')
        
        # data.iloc[:, 3] = data.iloc[:, 3].astype('int32')
        # data.iloc[:, 7] = data.iloc[:, 7].astype('int32')
        
        data.to_csv(datastream, index=False, header = False)
        datastream.seek(0)

        cursor.copy_from(datastream,'staging',sep=',')
        conn.commit()
    
    datastream.close()
    print(f"Finished Uploading to Staging Table: {datafile}")
    return None

In [12]:
"""
cursor.execute("rollback;")
for file in trip_filenames:
    populate_staging(file)
"""

Finished Uploading to Raw: williams-citibike/TripData/2013-07 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-08 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-09 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-10 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-11 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/2013-12 - Citi Bike trip data.csv
Finished Uploading to Raw: williams-citibike/TripData/201306-citibike-tripdata.csv

## Populating the Trip Table

In [19]:
trip_table_query = """
            CREATE TABLE IF NOT EXISTS trip (
                startime TIMESTAMP,
                endtime TIMESTAMP,
                tripduration INTEGER,
                startID NUMERIC,
                endID NUMERIC,
                usertype VARCHAR(16),
                birthyear REAL,
                gender SMALLINT
            );
            """
cursor.execute("rollback;")
cursor.execute(trip_table_query)
conn.commit()

In [20]:
insert_query2 = """
        INSERT INTO trip
        SELECT starttime, endtime, tripduration, startid, endid, usertype, birthyear, gender
          FROM staging
         ORDER BY starttime, endtime;
        """

cursor.execute("rollback;")
cursor.execute(insert_query2)
conn.commit()

## Preparing the Neighborhood Table I - Without the Spatial Data

In [13]:
from bs4 import BeautifulSoup
import requests

In [14]:
# Attempt connection to the URL
HoodURL = "https://furmancenter.org/neighborhoods"
try:
    r2 = requests.get(HoodURL)
    r2.raise_for_status()
except requests.exceptions.HTTPError as errh:
    print(errh)

In [15]:
soup = BeautifulSoup(r2.content, "html.parser")

# The website has a dropdown with all the neighborhood codes and names
hood_code_names = []

#Instead of creating a dictionary like before, we create a list of tuples so that we can make a df
for code in soup.find_all('option')[1:]:
    hood_code_names.append((code.text[:4], code.text[6:].replace("/","-").replace(" ","_")))

In [16]:
hood_df = pd.DataFrame(hood_code_names, columns=["code", "hoodname"])

In [17]:
borough = {
        "BK": "Brooklyn", 
        "BX": "Bronx",
        "MN": "Manhattan",
        "QN": "Queens",
        "SI": "Staten"
        }

hood_df["borough"] = hood_df["code"].str[0:2].map(borough)

In [18]:
hood_df.head()

   code                      hoodname   borough
0  BK01       Greenpoint-Williamsburg  Brooklyn
1  BK02  Fort_Greene-Brooklyn_Heights  Brooklyn
2  BK03            Bedford_Stuyvesant  Brooklyn
3  BK04                      Bushwick  Brooklyn
4  BK05   East_New_York-Starrett_City  Brooklyn

## Preparing the Neighborhood Table II - Adding the Spatial Data

In [19]:
pip install geopandas

Collecting geopandas
  Using cached geopandas-0.8.1-py2.py3-none-any.whl (962 kB)
Requirement already satisfied: pandas>=0.23.0 in /opt/conda/lib/python3.7/site-packages (from geopandas) (1.0.1)
Collecting fiona
  Using cached Fiona-1.8.18-cp37-cp37m-manylinux1_x86_64.whl (14.8 MB)
Collecting pyproj>=2.2.0
  Using cached pyproj-3.0.0.post1-cp37-cp37m-manylinux2010_x86_64.whl (6.4 MB)
Collecting shapely
  Using cached Shapely-1.7.1-cp37-cp37m-manylinux1_x86_64.whl (1.0 MB)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (1.18.1)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2019.3)
Requirement already satisfied: certifi in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (2019.11.28)
Requirement already satisfied: six>=1.7 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (1.14.0)
Requirement already satisfied: attrs>=17 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (19.3.0)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Collecting click-plugins>=1.0
  Using cached click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click<8,>=4.0 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (7.0)
Collecting cligj>=0.5
  Using cached cligj-0.7.1-py3-none-any.whl (7.1 kB)
Installing collected packages: munch, click-plugins, cligj, fiona, pyproj, shapely, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.1 munch-2.5.0 pyproj-3.0.0.post1 shapely-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [20]:
import geopandas as gpd
import shapely

In [21]:
geofile = "s3://williams-citibike/Community_Districts.geojson"

with fs.open(geofile, 'rb') as file:
    districts = gpd.read_file(file)

In [22]:
districts.head()

,boro_cd,shape_area,shape_leng,geometry
0,311,103177785.365,51549.5578567,"MULTIPOLYGON (((-73.97299 40.60881, -73.97259 ..."
1,313,88195686.2748,65821.875577,"MULTIPOLYGON (((-73.98372 40.59582, -73.98305 ..."
2,312,99525500.0655,52245.8304843,"MULTIPOLYGON (((-73.97140 40.64826, -73.97121 ..."
3,206,42664311.3238,35875.7111725,"MULTIPOLYGON (((-73.87185 40.84376, -73.87192 ..."
4,226,50566410.6415,32820.3983295,"MULTIPOLYGON (((-73.86790 40.90294, -73.86796 ..."

The codes from the Furman Center are exactly the same as the codes seen in the boro_cd column. However, the first number in the boro_cd acts as a category that represents the borough. The original Furman codes, seen in the hood_df, have to be reversed engineered using a maping. Once the mapping is complete, the two dataframes can be merged together.

In [23]:
borough_num_to_abr = {
        "3": "BK", 
        "2": "BX",
        "1": "MN",
        "4": "QN",
        "5": "SI"
        }

districts["boro_cd"] = districts["boro_cd"].str[0].map(borough_num_to_abr) + districts['boro_cd'].str[1:]

In [24]:
districts = districts[['boro_cd','geometry']]

In [25]:
hood_spatial = hood_df.merge(districts, left_on='code', right_on='boro_cd', how='left').loc[:,['code', 'hoodname', 'borough', 'geometry']]

In [26]:
hood_spatial.sort_values(by='code', inplace=True)

In [27]:
hood_spatial = gpd.GeoDataFrame(hood_spatial)

In [28]:
hood_spatial.head()

,code,hoodname,borough,geometry
0,BK01,Greenpoint-Williamsburg,Brooklyn,"MULTIPOLYGON (((-73.92406 40.71411, -73.92404 ..."
1,BK02,Fort_Greene-Brooklyn_Heights,Brooklyn,"MULTIPOLYGON (((-73.96929 40.70709, -73.96839 ..."
2,BK03,Bedford_Stuyvesant,Brooklyn,"MULTIPOLYGON (((-73.91805 40.68721, -73.91800 ..."
3,BK04,Bushwick,Brooklyn,"MULTIPOLYGON (((-73.89647 40.68234, -73.89653 ..."
4,BK05,East_New_York-Starrett_City,Brooklyn,"MULTIPOLYGON (((-73.86841 40.69473, -73.86868 ..."

## Populating the Neighborhood Table

In [114]:
neighborhood_table_query = """
            CREATE TABLE IF NOT EXISTS neighborhood (
                code CHAR(4) PRIMARY KEY,
                hoodname VARCHAR NOT NULL,
                borough VARCHAR(16) NOT NULL,
                geometry GEOGRAPHY(MULTIPOLYGON,4326) NOT NULL
            );
            """
cursor.execute("rollback;")
cursor.execute(neighborhood_table_query)
conn.commit()

In [115]:
hoodstream = StringIO()

hood_spatial.to_csv(hoodstream,sep='\t', index=False, header=False)
hoodstream.seek(0)

cursor.copy_from(hoodstream,'neighborhood',sep='\t')
conn.commit()

## Preparing the Station Table

In [37]:
stations_query = """
        SELECT DISTINCT ON(endid) endid, endname, end_lat, end_long 
          FROM staging 
         ORDER BY endid;
        """

In [38]:
# stations = pd.read_sql(stations_query, conn) # Expect long execution times

In [39]:
stations_spatial = gpd.GeoDataFrame(stations, geometry=gpd.points_from_xy(stations.end_long, stations.end_lat), crs="EPSG:4326")

In [40]:
# The inner join will remove stations that aren't in NYC (some stations are in NJ).
# Additionally it will remove the handful of stations that didn't have information other than the ID

stations_spatial = gpd.sjoin(stations_spatial, hood_spatial, how='inner', op='within')

In [46]:
stations_spatial = stations_spatial[['endid','endname','code','geometry']].rename(columns={'endid':'stationID','endname':'name'})

In [47]:
stations_spatial.name = stations_spatial.name.str.replace("'","")

In [48]:
stations_spatial.head()

     stationID                     name  code                    geometry
1         72.0         W 52 St & 11 Ave  MN04  POINT (-73.99393 40.76727)
5        116.0          W 17 St & 8 Ave  MN04  POINT (-74.00150 40.74178)
28       212.0  W 16 St & The High Line  MN04  POINT (-74.00682 40.74335)
123      334.0          W 20 St & 7 Ave  MN04  POINT (-73.99726 40.74239)
171      388.0         W 26 St & 10 Ave  MN04  POINT (-74.00295 40.74972)

## Populating the Station Table

In [35]:
station_table_query = """
               CREATE TABLE IF NOT EXISTS station (
                   stationID NUMERIC PRIMARY KEY,
                   name VARCHAR(64) NOT NULL,
                   code CHAR(4) NOT NULL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(station_table_query)
conn.commit()

In [49]:
stationstream = StringIO()
stations_spatial.to_csv(stationstream,sep='\t', index=False, header=False)
stationstream.seek(0)

cursor.copy_from(stationstream,'station',sep='\t')
conn.commit()

## *Testing the Neighborhood Profile Code*

In [16]:
hood_filenames = fs.ls("s3://williams-citibike/HoodData/")[1:]

In [17]:
def flatten_hooddata(datafile: str) -> pd.DataFrame:
    """Grabs the data from the s3 bucket and flattens it to a single row consisting of the neighborhood attributes
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    pd.DataFrame:
        A single row DataFrame that contains the attributes of the neighborhood
    """
    
    cols_lst = [0,3,8]
    names_lst = ["code", "indicator", "2018"]
    
    with fs.open("s3://"+datafile, 'rb') as file:
        data = pd.read_excel(file, sheet_name=1, usecols = cols_lst, names = names_lst)
        
        # Prep the '2018' column so that it can used as the value argument in the pivot_table 
        data['2018'] = data['2018'].str.replace('$',"")
        data['2018'] = data['2018'].str.replace(',',"")

        # Values that are percents get turned into decimals
        for index, value in data['2018'].items():
            if isinstance(value,str):
                if value[-1] == '%':
                    data['2018'][index] = float(value.strip('%')) / 100
        
        data['2018'] = pd.to_numeric(data['2018'])
        
        # The pivot_table alphabatizes the columns, but we want to maintain the original order
        column_order = ['code'] + list(data['indicator'])
        
        data = data.pivot_table(index=['code'],values='2018', columns='indicator', dropna=False)
        data = data.rename_axis(None, axis=1).reset_index()
        data['code'] = data['code'][0].replace(" ","")
        data = data.reindex(column_order, axis=1)

    return data

In [18]:
hood_profile_df = pd.DataFrame()

# This loop only works successfully if there are those specific neighborhood excel files in the HoodData folder
for hood in hood_filenames:
    hood_profile_df = hood_profile_df.append(flatten_hooddata(hood))

In [19]:
hood_profile_df = hood_profile_df.set_index('code')

In [20]:
hood_profile_df = hood_profile_df.dropna(axis=1, how='all')

In [26]:
hood_profile_df.head()

,Born in New York State,Disabled population,Foreign-born population,Population,Population aged 65+,Households with children under 18 years old,Single-person households,Percent Asian,Percent Black,Percent Hispanic,...,Rental units affordable at 80% AMI (% of recently available units),Rental units affordable at 120% AMI (% of recently available units),Moderately rent-burdened households,"Moderately rent-burdened households, low income","Moderately rent-burdened households, moderate income",Severely rent-burdened households,"Severely rent-burdened households, low income","Severely rent-burdened households, moderate income","Housing choice vouchers (% of occupied, privately owned rental units)",Public housing (% of rental units)
code,,,,,,,,,,,,,,,,,,,,,
BK01,0.518,0.059,0.200,162381.0,0.094,0.239,0.273,0.061,0.039,0.207,...,0.218,0.507,0.223,0.267,0.366,0.267,0.485,0.084,0.081,0.066
BK02,0.460,0.070,0.187,145843.0,0.101,0.247,0.350,0.089,0.202,0.156,...,0.154,0.442,0.208,0.265,0.408,0.192,0.392,0.067,0.020,0.160
BK03,0.588,0.078,0.195,155117.0,0.099,0.283,0.308,0.032,0.460,0.179,...,0.413,0.893,0.270,0.284,0.292,0.294,0.425,0.024,0.078,0.171
BK04,0.458,0.090,0.276,121188.0,0.089,0.232,0.274,0.042,0.164,0.531,...,0.409,0.851,0.264,0.271,0.298,0.318,0.459,0.019,0.045,0.108
BK05,0.545,0.068,0.356,171170.0,0.122,0.379,0.320,0.032,0.528,0.388,...,0.860,0.995,0.255,0.301,0.061,0.329,0.418,0.000,0.134,0.157

## *Testing: Look-up Table*

In [11]:
lookup_table_query = """
                CREATE TABLE IF NOT EXISTS lookup(
                    alias 
                    indicator VARCHAR,
                    description VARCHAR
                );
                """

cursor.execute("rollback;")
cursor.execute(lookup_table_query)
conn.commit()

In [82]:
lookup = pd.read_excel("s3://" + hood_filenames[0], sheet_name=1)

In [83]:
lookup = lookup.sort_values(by=["Indicator Category",'Indicator'])

In [84]:
alias = {
    'Demographics': 'DEM',
    'Housing Market and Conditions': 'HSC',
    'Land Use and Development': 'LUD',
    'Neighborhood Services and Conditions': 'NSC',
    'Renters': 'RNT'
}

In [85]:
lookup['Indicator Category'] = lookup["Indicator Category"].map(alias)

In [86]:
lookup = lookup[['Indicator Category','Indicator',' Indicator Description']].rename(columns={'Indicator Category':'alias','Indicator':'indicator', ' Indicator Description':'description'})

In [87]:
indicator_group_rank = lookup.groupby("alias").cumcount()+1

In [87]:
lookup['alias'] = lookup['alias'] + indicator_group_rank.astype(str)

In [88]:
lookup.head()

,alias,indicator,description
0,DEM1,Born in New York State,The percentage of city residents who were born...
1,DEM2,Disabled population,The percentage of the adult population who hav...
2,DEM3,Foreign-born population,The share of the population that is born outsi...
5,DEM4,Households with children under 18 years old,The percentage of households living with child...
12,DEM5,Income diversity ratio,The income earned by the 80th percentile house...

In [14]:
lookupstream = StringIO()

lookup.to_csv(lookupstream,sep='\t', index=False, header=False)
lookupstream.seek(0)

cursor.copy_from(lookupstream,'lookup',sep='\t')
conn.commit()

Testing Profile

In [ ]:
#Import csv into df 
"""
Iterate through the csv and add columns using the name of the columns in the df

for name in df.columns:
    ALTER TABLE table_name
    ADD COLUMN name data_type constraint;
    
    for code in neighborhood['code']:
        value = neighborhood.loc[neighborhood[code]==code,name]
        
        UPDATE table_name
        SET name = value,
        where code = code;
"""

In [167]:
# When you want to read from teh database and it has geography data use this code
# postgis stores the values as wkb hex and you need to convert it to shapely

"""
check_query = """select * from neighborhood limit 3"""
check = pd.read_sql(check_query, conn)
check = gpd.GeoDataFrame(check)
check.geometry = check.apply(lambda row: shapely.wkb.loads(row.geometry, hex=True),axis=1)
"""