## Building the Database

Each citibike file records information about every single trip that was taken during a single month of the year. There are files for each month starting from June 2013. Each citibike file has the same format. The order and the description of the colomns are as follows:
- Trip Duration (seconds): The length of the trip in seconds
- Start Date & Time: The start time of the trip MM-DD-YYYY HH:MM:SS
- End Date & Time: The end time of the trip MM-DD-YYYY HH:MM:SS
- Start Station ID: The ID for the station where the trip started
- Start Station Name: The name of the station where the trip started
- Start Station Latitude: The latitude of the station where the trip started
- Start Station Longitude: The longitude of the station where the trip started
- End Station ID: The ID for the station where the trip ended
- End Station Name: The name of the station where the trip ended
- End Station Latitude: The latitude of the station where the trip ended
- End Station Longitude: The longitude of the station where the trip ended
- Bike ID: The ID for the bike that was used in the trip
- User Type: What type of user took the trip (Subscriber or Customer)
- Gender: The gender of the user (Male - 1, Female - 2, None - 0)
- Year of Birth: The year that the user was born

<img src="./Data/Images/DatabaseDiagramW.png" width="600" height="800" align="center"/>

*Note: If you cannot see the label names try editing the markdown code (double click diagram) and change the src from DatabaseDiagramW.png to DatabaseDiagramB.png

### Connecting to the Database

In [ ]:
pip install psycopg2-binary;

In [ ]:
import psycopg2

In [ ]:
# Put the password in 
PGHOST = 'tripdatabase2.cmaaautpgbsf.us-east-2.rds.amazonaws.com'
PGDATABASE = ''
PGUSER = 'postgres'
PGPASSWORD = 'Josh1234'

In [4]:
# Database Context Manager
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

### Database Construction I - Creating the Staging Tables

#### A - Installs, Imports, Functions, etc.

In [1]:
pip install s3fs;

Requirement already satisfied: s3fs in /opt/conda/lib/python3.7/site-packages (0.5.2)
Requirement already satisfied: aiobotocore>=1.0.1 in /opt/conda/lib/python3.7/site-packages (from s3fs) (1.2.0)
Requirement already satisfied: fsspec>=0.8.0 in /opt/conda/lib/python3.7/site-packages (from s3fs) (0.8.5)
Requirement already satisfied: aiohttp>=3.3.1 in /opt/conda/lib/python3.7/site-packages (from aiobotocore>=1.0.1->s3fs) (3.7.3)
Requirement already satisfied: wrapt>=1.10.10 in /opt/conda/lib/python3.7/site-packages (from aiobotocore>=1.0.1->s3fs) (1.11.2)
Requirement already satisfied: aioitertools>=0.5.1 in /opt/conda/lib/python3.7/site-packages (from aiobotocore>=1.0.1->s3fs) (0.7.1)
Collecting botocore<1.19.53,>=1.19.52
  Using cached botocore-1.19.52-py2.py3-none-any.whl (7.2 MB)
Requirement already satisfied: typing-extensions>=3.6.5 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.7.4.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (5.1.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (19.3.0)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.0.1)
Requirement already satisfied: chardet<4.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (3.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (1.6.3)
Requirement already satisfied: urllib3<1.27,>=1.25.4; python_version != "3.4" in /opt/conda/lib/python3.7/site-packages (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (1.25.8)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (2.8.1)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (0.10.0)
Requirement already satisfied: idna>=2.0 in /opt/conda/lib/python3.7/site-packages (from yarl<2.0,>=1.0->aiohttp>=3.3.1->aiobotocore>=1.0.1->s3fs) (2.8)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.19.53,>=1.19.52->aiobotocore>=1.0.1->s3fs) (1.14.0)
ERROR: boto3 1.16.63 has requirement botocore<1.20.0,>=1.19.63, but you'll have botocore 1.19.52 which is incompatible.
ERROR: awscli 1.18.223 has requirement botocore==1.19.63, but you'll have botocore 1.19.52 which is incompatible.
Installing collected packages: botocore
  Attempting uninstall: botocore
    Found existing installation: botocore 1.19.63
    Uninstalling botocore-1.19.63:
      Successfully uninstalled botocore-1.19.63
Successfully installed botocore-1.19.52
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import s3fs
import os
from io import StringIO
import Queries
from urllib.parse import urlencode
import requests

In [3]:
# The S3 Bucket that will be used to store the data should be created beforehand
ACCESS_KEY_ID = 'AKIARJEUISD2VILSZ6HM'
ACCESS_SECRET_KEY = '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'

fs = s3fs.S3FileSystem(anon=False, key = ACCESS_KEY_ID, secret= ACCESS_SECRET_KEY)

In [16]:
api_key = 'AIzaSyCrG_VK47xMKjER4zpHyd3FJNLFn2weNFY'

In [4]:
def upload_data(conn, data: pd.DataFrame(), table: str):
    datastream = StringIO()
    cursor = conn.cursor()
    
    data.to_csv(datastream, index=False, header=False)
    datastream.seek(0)
    
    cursor.execute('rollback;')
    cursor.copy_from(datastream,table,sep=',')
    conn.commit()
    
    return None

#### Geocoding Functions

In [17]:
def get_address_components(address, data_type='json'):
    endpoint = f'https://maps.googleapis.com/maps/api/geocode/{data_type}'
    params = {'address': address, 'key': api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    
    r = requests.get(url)
    if r.status_code not in range(200,299):
        return {}
    return r.json()['results'][0]['address_components']


def get_latlong_components(lat, long, data_type = 'json'):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat}, {long}&key={api_key}"
    
    r = requests.get(url)
    if r.status_code not in range(200,299):
        return {}
    return r.json()['results'][0]['address_components']


def extract_zipcode(components):
    for comp in components:
        if comp.get('types')[0] == 'postal_code':
            return comp.get('long_name')

In [26]:
def input_zipcode(df):
    if df.end_lat < 10:
        return extract_zipcode(get_address_components(df.endname))
    else:
        return extract_zipcode(get_latlong_components(df.end_lat, df.end_long))

In [ ]:
staging_schema_query = """CREATE SCHEMA staging;"""
cursor.execute("rollback;")
cursor.execute(staging_schema_query)

#### Creating the BayWheels Staging Table

In [ ]:
bay_filenames = fs.ls("s3://williams-citibike/TripData/BayWheels")

In [ ]:
# TAbles module. One function for all the tables. 
bay_staging_query = """
               CREATE TABLE IF NOT EXISTS staging.bay_trip (
                   starttime TIMESTAMP,
                   endtime TIMESTAMP,
                   startID VARCHAR,
                   startname VARCHAR(128),
                   start_lat REAL,
                   start_long REAL,
                   endID VARCHAR,
                   endname VARCHAR(128),
                   end_lat REAL,
                   end_long REAL             
              );
              """
cursor.execute("rollback;")
cursor.execute(bay_staging_query)
conn.commit()

In [ ]:
def populate_bay_staging(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
    columns = ['start_time','end_time',
               'start_station_id', 'start_station_name', 
               'start_station_latitude', 'start_station_longitude', 
               'end_station_id', 'end_station_name',
               'end_station_latitude', 'end_station_longitude']


    altcols = ['started_at','ended_at',
               'start_station_id', 'start_station_name',
               'start_lat', 'start_lng',
               'end_station_id', 'end_station_name',
               'end_lat', 'end_lng']
        
    na_fills = {'start_lat': -1,'start_lng': -1,
               'end_lat': -1, 'end_lng': -1}
    
    with fs.open("s3://"+datafile, 'r') as file:
        try:
            data = pd.read_csv(file, usecols = columns, na_values="")[columns]
        except:    
            file.seek(0)
            data = pd.read_csv(file, usecols = altcols, na_values="")[altcols]
            data.fillna(value=na_fills, inplace=True)
        
        #Some stations have commas in their name causing the copy_from to register extra data fields
        data.iloc[:, 3] = data.iloc[:, 3].str.replace(',','_')
        data.iloc[:, 7] = data.iloc[:, 7].str.replace(',','_')
        
        upload_data(conn, data, 'staging.bay_trip')

    print(f"Finished Uploading to Bay Staging Table: {datafile}")
    return None

In [ ]:
for file in bay_filenames:
    populate_bay_staging(file)

#### Creating the BlueBike Staging Table

In [ ]:
blue_filenames = fs.ls("s3://williams-citibike/TripData/BlueBike")

In [ ]:
# TAbles module. One function for all the tables. 
blue_staging_query = """
               CREATE TABLE IF NOT EXISTS staging.blue_trip (
                   starttime TIMESTAMP,
                   endtime TIMESTAMP,
                   startID NUMERIC,
                   startname VARCHAR(128),
                   start_lat REAL,
                   start_long REAL,
                   endID NUMERIC,
                   endname VARCHAR(128),
                   end_lat REAL,
                   end_long REAL              
              );
              """
cursor.execute("rollback;")
cursor.execute(blue_staging_query)
conn.commit()

In [ ]:
def populate_blue_staging(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
      
    columns = ['starttime','stoptime',
               'start station id', 'start station name',
               'start station latitude', 'start station longitude',
               'end station id', 'end station name',
               'end station latitude', 'end station longitude']
    
    with fs.open("s3://"+datafile, 'r') as file:
        data = pd.read_csv(file, usecols=columns, na_values = "")[columns]
        
        data.iloc[:, 3] = data.iloc[:, 3].str.replace(',','_')
        data.iloc[:, 7] = data.iloc[:, 7].str.replace(',','_')
        
        upload_data(conn,data,'staging.blue_trip')
    
    print(f"Finished Uploading to Blue Staging Table: {datafile}")
    return None

In [ ]:
# Data starts from 2015, any data before data doesn't have location data
for file in blue_filenames[5:]:
    populate_blue_staging(file)

#### Creating the Capital Staging Table

In [ ]:
capital_filenames = fs.ls("s3://williams-citibike/TripData/CapitalBike")
capital_filenames = fs.ls("s3://williams-citibike/TripData/CaptialBike") # Delete this after re-running notebook 0

In [ ]:
# TAbles module. One function for all the tables. 
capital_staging_query = """
               CREATE TABLE IF NOT EXISTS staging.capital_trip (
                   starttime TIMESTAMP,
                   endtime TIMESTAMP,
                   startID NUMERIC,
                   startname VARCHAR(128),
                   start_lat REAL,
                   start_long REAL,
                   endID NUMERIC,
                   endname VARCHAR(128),
                   end_lat REAL,
                   end_long REAL              
              );
              """
cursor.execute("rollback;")
cursor.execute(capital_staging_query)
conn.commit()

In [ ]:
def populate_capital_staging(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
    
    columns = ['Start date', 'End date',
               'Start station number', 'Start station',
               'End station number', 'End station']
    
    altcolumns = ['started_at','ended_at',
                  'start_station_id', 'start_station_name',
                  'start_lat', 'start_lng',
                  'end_station_id', 'end_station_name',
                  'end_lat', 'end_lng']
    
    with fs.open("s3://"+datafile, 'r') as file:
        try:   
            data = pd.read_csv(file, usecols=columns, na_values = "")[columns]
            data.insert(4,'start_lat', -1)
            data.insert(5,'start_lng',-1)

            data.insert(8,'end_lat', -1)
            data.insert(9,'end_lng',-1)
        except:
            file.seek(0)
            data = pd.read_csv(file, usecols=altcolumns, na_values = "")[altcolumns]
            data.fillna({'start_station_id': -1, 'end_station_id':-1, 
                         'start_lat': -1, 'start_lng': -1,
                         'end_lat': -1, 'end_lng': -1}, inplace=True)
        
        data.iloc[:, 3] = data.iloc[:, 3].str.replace(',','_')
        data.iloc[:, 7] = data.iloc[:, 7].str.replace(',','_')

        upload_data(conn,data,'staging.capital_trip')
    
    print(f"Finished Uploading to Blue Staging Table: {datafile}")
    return None

In [ ]:
for file in capital_filenames:
    populate_capital_staging(file)

#### Creating the CitiBike Staging Table

In [ ]:
citi_filenames = fs.ls("s3://williams-citibike/TripData/CitiBike")

Get rid of bikeID:gender

In [ ]:
# TAbles module. One function for all the tables. 
citi_staging_query = """
               CREATE TABLE IF NOT EXISTS staging.citi_trip (
                   tripduration NUMERIC, 
                   starttime TIMESTAMP,
                   endtime TIMESTAMP,
                   startID NUMERIC,
                   startname VARCHAR(128),
                   start_lat REAL,
                   start_long REAL,
                   endID NUMERIC,
                   endname VARCHAR(128),
                   end_lat REAL,
                   end_long REAL              
              );
              """
cursor.execute("rollback;")
cursor.execute(citi_staging_query)
conn.commit()

In [ ]:
def populate_citi_staging(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
       
    with fs.open("s3://"+datafile, 'r') as file:
        data = pd.read_csv(file, na_values ="", usecols=list(range(0,11)))   # Can't use the C engine to speed this up
        data.fillna(-1, inplace=True)   # Empty spaces need to be integers for birthyear REAL type in database
        
        #Some stations have commas in their name causing the copy_from to register extra data fields
        data.iloc[:, 4] = data.iloc[:, 4].str.replace(',','_')
        data.iloc[:, 8] = data.iloc[:, 8].str.replace(',','_')
        
        data.iloc[:, 3] = data.iloc[:, 3].astype('int32')
        data.iloc[:, 7] = data.iloc[:, 7].astype('int32')
        
        upload_data(conn,data,'staging.citi_trip')
        
    print(f"Finished Uploading to Citi Staging Table: {datafile}")
    return None

In [ ]:
for file in citi_filenames:
    populate_citi_staging(file)

#### Creating the Divvy Staging Table

In [ ]:
divvy_filenames = fs.ls("s3://williams-citibike/TripData/DivvyBike")

In [ ]:
# TAbles module. One function for all the tables. 
divvy_staging_query = """
               CREATE TABLE IF NOT EXISTS staging.divvy_trip (
                   starttime TIMESTAMP,
                   endtime TIMESTAMP,
                   startID NUMERIC,
                   startname VARCHAR(128),
                   start_lat REAL,
                   start_long REAL,
                   endID NUMERIC,
                   endname VARCHAR(128),
                   end_lat REAL,
                   end_long REAL             
              );
              """
cursor.execute("rollback;")
cursor.execute(divvy_staging_query)
conn.commit()

In [ ]:
def populate_divvy_staging(datafile: str) -> None:
    """Grabs the data from the s3 bucket and edits it so that it can be uploaded to the staging table
    
    Parameters
    ----------
    datafile : str
        The name of a file in the s3 bucket without the s3:// prefix

    Returns
    -------
    None:
        If executed properly the database should now have rows corresponding to the rows in the data
    """
    
    columns = ['started_at', 'ended_at',
               'start_station_id', 'start_station_name',
               'start_lat', 'start_lng',
               'end_station_id', 'end_station_name',
               'end_lat', 'end_lng']
    
    altcolumns = ['starttime', 'stoptime',
                  'from_station_id', 'from_station_name',
                  'to_station_id','to_station_name']
    
    alt3 = ['start_time', 'end_time',
            'from_station_id', 'from_station_name',
            'to_station_id','to_station_name']
    
    names = ['starttime', 'endtime','startid','startname','endid','endname']
    
    with fs.open("s3://"+datafile, 'r') as file:
        try:
            data = pd.read_csv(file, usecols=columns, na_values="", parse_dates=[0,1])[columns]
            data.fillna({'start_station_id': -1, 'end_station_id':-1, 
                         'start_lat': -1, 'start_lng': -1,
                         'end_lat': -1, 'end_lng': -1}, inplace=True)            
        except ValueError:
            file.seek(0)
            try:
                data = pd.read_csv(file, usecols=altcolumns, na_values = "", parse_dates=[0,1])[altcolumns]
                data.columns = names
            except ValueError:
                file.seek(0)
                try:
                    data = pd.read_csv(file, usecols=alt3, na_values = "", parse_dates=[0,1])[alt3]
                    data.columns = names
                except:
                    file.seek(0)
                    data = pd.read_csv(file, usecols=[1,2,5,6,7,8], na_values="", parse_dates=[0,1])
                    data.columns = names
        
            data.insert(4,'start_lat', -1)
            data.insert(5,'start_lng',-1)

            data.insert(8,'end_lat', -1)
            data.insert(9,'end_lng',-1)
            
            data.fillna({'startid': -1, 'endidd':-1}, inplace=True)

        data.iloc[:, 3] = data.iloc[:, 3].str.replace(',','_')
        data.iloc[:, 7] = data.iloc[:, 7].str.replace(',','_')
        
        
        upload_data(conn,data,'staging.divvy_trip')
        
        
    print(f"Finished Uploading to Divvy Staging Table: {datafile}")
    return None

In [ ]:
for file in divvy_filenames:
    populate_divvy_staging(file)

### Database Construction II - Creating the Station Tables

In [9]:
pip install geopandas

Collecting geopandas
  Using cached geopandas-0.8.2-py2.py3-none-any.whl (962 kB)
Collecting fiona
  Using cached Fiona-1.8.18-cp37-cp37m-manylinux1_x86_64.whl (14.8 MB)
Requirement already satisfied: pandas>=0.23.0 in /opt/conda/lib/python3.7/site-packages (from geopandas) (1.0.1)
Collecting pyproj>=2.2.0
  Using cached pyproj-3.0.0.post1-cp37-cp37m-manylinux2010_x86_64.whl (6.4 MB)
Collecting shapely
  Using cached Shapely-1.7.1-cp37-cp37m-manylinux1_x86_64.whl (1.0 MB)
Collecting munch
  Using cached munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (2019.11.28)
Requirement already satisfied: six>=1.7 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (1.14.0)
Requirement already satisfied: attrs>=17 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (19.3.0)
Collecting cligj>=0.5
  Using cached cligj-0.7.1-py3-none-any.whl (7.1 kB)
Requirement already satisfied: click<8,>=4.0 in /opt/conda/lib/python3.7/site-packages (from fiona->geopandas) (7.0)
Collecting click-plugins>=1.0
  Using cached click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: pytz>=2017.2 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/conda/lib/python3.7/site-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Installing collected packages: munch, cligj, click-plugins, fiona, pyproj, shapely, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.1 fiona-1.8.18 geopandas-0.8.2 munch-2.5.0 pyproj-3.0.0.post1 shapely-1.7.1
Note: you may need to restart the kernel to use updated packages.

In [10]:
import geopandas as gpd
import shapely

In [11]:
def get_stations(conn, service: str, drop_indices: list=[]):
    station_query = f"""
            SELECT DISTINCT ON(endid) endid, endname, end_lat, end_long 
              FROM staging.{service}_trip
             ORDER BY endid;
            """
    station = pd.read_sql(station_query, conn)
    station.dropna(inplace=True)
    
    if len(drop_indices) > 0:
        station = station.set_index('endid').drop(drop_indices).reset_index()
    
    return station

In [12]:
def database_upload(conn, geodf, table):
    cursor = conn.cursor()
    
    stream = StringIO()
    geodf.to_csv(stream, sep='\t', index=False, header=False)
    stream.seek(0)
    
    cursor.copy_from(stream, table, sep='\t')
    conn.commit()
    
    return None

#### Creating the BayWheels Station Table

In [19]:
# Endid has more distinct values than startid
# Tables module
bay_station_query = """
        SELECT DISTINCT ON(endid) endid, endname, end_lat, end_long 
          FROM staging.bay_trip 
         ORDER BY endid;
        """

In [20]:
bay_station = pd.read_sql(bay_station_query, conn) # Expect long execution times

In [21]:
def drop_decimal(x):
    """Drops the .0 from a string, if it has it"""
    if x.endswith('.0'):
        return(x[:-2])
    else: return x

In [22]:
bay_station['endid'] = bay_station.endid.apply(drop_decimal)

In [23]:
bay_station.drop_duplicates(inplace=True)
bay_station = bay_station.set_index('endid').drop(['449','420', '408','484']).reset_index()

In [24]:
bay_spatial = gpd.GeoDataFrame(bay_station, geometry=gpd.points_from_xy(bay_station.end_long, bay_station.end_lat), crs="EPSG:4326")

In [32]:
bay_spatial['zipcode'] = bay_spatial.apply(input_zipcode, axis=1)

In [33]:
bay_spatial

,endid,endname,end_lat,end_long,geometry,zipcode
0,,,37.800000,-122.420000,POINT (-122.42000 37.80000),94109
1,10,Washington St at Kearny St,37.795390,-122.404770,POINT (-122.40477 37.79539),94108
2,100,Bryant St at 15th St,37.767100,-122.410660,POINT (-122.41066 37.76710),94103
3,101,15th St at Potrero Ave,37.767080,-122.407360,POINT (-122.40736 37.76708),94103
4,102,Irwin St at 8th St,37.766884,-122.399580,POINT (-122.39958 37.76688),94107
...,...,...,...,...,...,...
946,SJ-Q4,Willow St at Blewett Ave,37.309013,-121.900010,POINT (-121.90001 37.30901),95125
947,SJ-Q5,Bird Ave at Willow St,37.311234,-121.896300,POINT (-121.89630 37.31123),95125
948,SJ-Q8,Palm St at Willow St,37.317300,-121.884995,POINT (-121.88500 37.31730),95110
949,SJ-Q9,Willow St at Vine St,37.318450,-121.883170,POINT (-121.88317 37.31845),95110
950,SJ-R11,South San Jose State (7th St at Humboldt St),37.320263,-121.870030,POINT (-121.87003 37.32026),95112

In [121]:
stations_schema_query = """CREATE SCHEMA IF NOT EXISTS stations;"""
cursor.execute("rollback;")
cursor.execute(stations_schema_query)

In [122]:
# Tables module
bay_station_query = """
               CREATE TABLE IF NOT EXISTS stations.bay_station (
                   stationID VARCHAR,
                   name VARCHAR(64) NOT NULL,
                   latitude REAL,
                   longitude REAL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(bay_station_query)
conn.commit()

In [124]:
database_upload(conn, bay_spatial, 'stations.bay_station')

#### Creating the BlueWheels Station Table

In [ ]:
blue_station = get_stations(conn, 'blue', [153, 158, 223, 229, 230, 308, 382])

In [159]:
blue_spatial = gpd.GeoDataFrame(blue_station, geometry=gpd.points_from_xy(blue_station.end_long, blue_station.end_lat), crs="EPSG:4326")

In [163]:
# Tables module
blue_station_query = """
               CREATE TABLE IF NOT EXISTS stations.blue_station (
                   stationID VARCHAR,
                   name VARCHAR(128) NOT NULL,
                   latitude REAL,
                   longitude REAL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(blue_station_query)
conn.commit()

In [164]:
database_upload(conn, blue_spatial, 'stations.blue_station')

#### Creating the Capital Station Table

In [ ]:
capital_station = get_stations(conn, 'capital', [-1,0,32902])

In [29]:
capital_spatial = gpd.GeoDataFrame(capital_station, geometry=gpd.points_from_xy(capital_station.end_long, capital_station.end_lat), crs="EPSG:4326")

In [30]:
# Tables module
capital_station_query = """
               CREATE TABLE IF NOT EXISTS stations.capital_station (
                   stationID VARCHAR,
                   name VARCHAR(128) NOT NULL,
                   latitude REAL,
                   longitude REAL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(capital_station_query)
conn.commit()

In [31]:
database_upload(conn, capital_spatial, 'stations.capital_station')

#### Creating the CitiBike Station Table

In [37]:
citi_station = get_stations(conn, 'citi', [-1,3036,3650,3247,3248,3446,3480,3488,3633])

In [38]:
citi_spatial = gpd.GeoDataFrame(citi_station, geometry=gpd.points_from_xy(citi_station.end_long, citi_station.end_lat), crs="EPSG:4326")

In [39]:
# Tables module
citi_station_query = """
               CREATE TABLE IF NOT EXISTS stations.citi_station (
                   stationID VARCHAR,
                   name VARCHAR(128) NOT NULL,
                   latitude REAL,
                   longitude REAL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(citi_station_query)
conn.commit()

In [40]:
database_upload(conn, citi_spatial, 'stations.citi_station')

#### Creating the Divvy Station Table

In [49]:
divvy_station = get_stations(conn, 'divvy', [-1])

In [50]:
divvy_spatial = gpd.GeoDataFrame(divvy_station, geometry=gpd.points_from_xy(divvy_station.end_long, divvy_station.end_lat), crs="EPSG:4326")

In [51]:
# Tables module
divvy_station_query = """
               CREATE TABLE IF NOT EXISTS stations.divvy_station (
                   stationID VARCHAR,
                   name VARCHAR(128) NOT NULL,
                   latitude REAL,
                   longitude REAL,
                   geometry GEOGRAPHY(POINT,4326) NOT NULL
                );
                
                """
cursor.execute("rollback;")
cursor.execute(divvy_station_query)
conn.commit()

In [52]:
database_upload(conn, divvy_spatial, 'stations.divvy_station')

## Testing Geocoding

In [13]:
from urllib.parse import urlencode
import requests

In [16]:
api_key = 'AIzaSyCrG_VK47xMKjER4zpHyd3FJNLFn2weNFY'

In [17]:
def get_address_components(address, data_type='json'):
    endpoint = f'https://maps.googleapis.com/maps/api/geocode/{data_type}'
    params = {'address': address, 'key': api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    
    r = requests.get(url)
    if r.status_code not in range(200,299):
        return {}
    return r.json()['results'][0]['address_components']


def get_latlong_components(lat, long, data_type = 'json'):
    url = f"https://maps.googleapis.com/maps/api/geocode/json?latlng={lat}, {long}&key={api_key}"
    
    r = requests.get(url)
    if r.status_code not in range(200,299):
        return {}
    return r.json()['results'][0]['address_components']


def extract_zipcode(components):
    for comp in components:
        if comp.get('types')[0] == 'postal_code':
            return comp.get('long_name')

In [152]:
def input_zipcode(row):
    if row['end_lat'] < 10:
        return 'address'
        #row['zipcode'] = extract_zipcode(get_address_components(row.endname))
    else:
        return 'latlong'
        #row['zipcode'] = extract_zipcode(get_latlong_components(row.end_lat, row.end_long))
    '''

In [179]:
bay_spatial['zipcode'] = np.where(
    bay_spatial.end_lat < 10,
    extract_zipcode(get_address_components(bay_spatial.endname)),
    extract_zipcode(get_latlong_components(bay_spatial.end_lat, bay_spatial.end_long))
)

In [192]:
for index, row in bay_spatial.iloc[:2,].iterrows():
    print(extract_zipcode(get_latlong_components(row.end_lat, row.end_long)))

94109
94108

In [26]:
def input_zipcode(df):
    if df.end_lat < 10:
        return extract_zipcode(get_address_components(df.endname))
    else:
        return extract_zipcode(get_latlong_components(df.end_lat, df.end_long))

In [32]:
bay_spatial['zipcode'] = bay_spatial.apply(input_zipcode, axis=1)

In [33]:
bay_spatial

,endid,endname,end_lat,end_long,geometry,zipcode
0,,,37.800000,-122.420000,POINT (-122.42000 37.80000),94109
1,10,Washington St at Kearny St,37.795390,-122.404770,POINT (-122.40477 37.79539),94108
2,100,Bryant St at 15th St,37.767100,-122.410660,POINT (-122.41066 37.76710),94103
3,101,15th St at Potrero Ave,37.767080,-122.407360,POINT (-122.40736 37.76708),94103
4,102,Irwin St at 8th St,37.766884,-122.399580,POINT (-122.39958 37.76688),94107
...,...,...,...,...,...,...
946,SJ-Q4,Willow St at Blewett Ave,37.309013,-121.900010,POINT (-121.90001 37.30901),95125
947,SJ-Q5,Bird Ave at Willow St,37.311234,-121.896300,POINT (-121.89630 37.31123),95125
948,SJ-Q8,Palm St at Willow St,37.317300,-121.884995,POINT (-121.88500 37.31730),95110
949,SJ-Q9,Willow St at Vine St,37.318450,-121.883170,POINT (-121.88317 37.31845),95110
950,SJ-R11,South San Jose State (7th St at Humboldt St),37.320263,-121.870030,POINT (-121.87003 37.32026),95112