## Connecting to the Database

In [2]:
pip install psycopg2-binary;

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.7/site-packages (2.8.6)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import psycopg2

In [4]:
# Put the password in 
PGHOST = 'tripdatabase.cmaaautpgbsf.us-east-2.rds.amazonaws.com'
PGDATABASE = ''
PGUSER = 'postgres'
PGPASSWORD = 'Josh1234'

In [5]:
# Database Context Manager
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.4 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

## Trip Table Cleaning I: Removing Outliers - Trip Duration
We will be using a basic definition of an outlier in this project. An outlier will be defined as any value that is more than 3 times the standard deviation. The trip table has 111M rows in it so unfortunately we cannot directly take the mean and std of the tripduration column because it would take hours to execute. To overcome this we will use a sampling distribution to estimate the population mean and std.

In [5]:
# Possible Question: Evolution of ride length over time

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import Queries
import importlib
importlib.reload(Queries)

To get a feeling for how the trip duration values are distributed, let's sample 1M rows

In [50]:
sample_data = Queries.get_random_100k_rows(conn,shuffles=10)   # Get random samples 100K rows at a time

In [14]:
sample_data['tripduration'].describe()

count    1000000.000000
mean          16.173446
std          216.786921
min            1.000000
25%            6.000000
50%           10.000000
75%           18.000000
max       134941.000000
Name: tripduration, dtype: float64

The mean value of the trip duration column is 16m, but it has a standard deviation of 222m which is nearly 4 hours. Additionally, the 75 percentile of our data is 18m. It is clear that there are trips that are completely skewing our data. To put it in persective, if we use our original definition of an outlier then only trips over 12 hours would be considered outliers. Because the data is so heavily skewed the standard deviation is unreliable to help find outliers.

Our original outlier identification idea was based on the empirical rule that states 99.7% of data observed following a normal distribution lies within 3 standard deviations of the mean. Since our standard deviation is unreliable we will rip off the underlying idea behind the empirical rule, but with quantiles since they seem to be more representative of real life. Using quantiles, 99% of our data should be between the 0.5th and the 99.5th percentile. Anything above or below those percentile values will be considered outliers

In [15]:
sample_data.tripduration.quantile(0.005), sample_data.tripduration.quantile(0.995)

(1.0, 94.0)

Things to Mention
- All the trips that are slightly above 1.5 hrs aren't necessarily invalid trips. However, the trips that have a high likelihood of being invalid are above 1.5 hrs. Why? Citibike isn't a service targetted towards long distance rides, which can be seen in their pricing models. The annual membership allows unlimited rides that are capped at 45m. Their day pass allows unlimited rides that are capped at 30m. And a single ride is 3 for 30m. With these finacial thresholds in place, it makes sense why the majority of trips are beneath them. In fact, there is no incentive for a person to keep a bike out for significantly longer than the threshold. If you need the bike for 90m than an as annual rider you park the bike at 45m and then take another bike for the other 45m and not have to pay the extra 6.75 (unless you rode to a place where there aren't any stations to park or the stations have very limited bikes and you don't want to risk your bike being taken and being stranded).
- The data is 'sensitive' to quantile changes. Example the 99.5th quantile is 94m the 99th is 62m and the 98th is 46m.
- *Although there is only one sample of 1M rows taken, no matter how many times you sample from all the trips the lower quantile is 1 and the upper quantile is close to 96. The reason that I ommitted the many times I sampled was because sampling takes a long time to execute*

In [9]:
Queries.delete_duration_outliers(conn)

## Trip Table Cleaning II: Removing Time Errors - Start Time After End Time

Anytrip with a starttime that was greater than an endtime is an error and will get deleted. It is possible that the two values were just swapped. The cost of swapping them is more expensive than it is worth and it's better to just remove them. The operations of the swap are:
- Find the incorrect values
- Move them to a temporary table with the correct order
- Delete them from the original table
- Reinsert them

In [74]:
data = Queries.find_time_swaps(conn)

In [75]:
data.shape

(201, 8)

From the first step there are barely over 200 incorrectly timed trips returned, continuing to the other steps isn't worth it for such little data. It's less expensive to delete them.

In [12]:
Queries.delete_time_swaps(conn)

## Trip Table Cleaning III: Handling Outliers - Speed
In this section we are going to remove trips whose speeds (MPH) are physically unlikely. Luckily, we have a reference from CitiBike on what a speed outlier might look like. According to them their pedal assisted e-bikes can go up to 18 MPH. In the sport of cycling, although not on a pedal assisted bike, a reasonably experienced cyclist can reach over 19 MPH. Using a nicer whole number, we'll use 20 MPH as a conservative cutoff and anything over that will be considered an outlier.

In [93]:
sample_data = Queries.get_random_100k_rows(conn, speed=True, distance=True, shuffles=10)

We've already took the "delete data" path multiple times in this project. We deleted all the NJ trips, the trip duration outliers, and the invalid swaps. Although after all those deletes we still have tons of data (111M to 105M), let's make an effort to conserve data. To handle speed outliers, we are going to cap the speed at 20 MPH. Any trip that has a speed over 20 MPH we are going to adjust the trip duration in a way that when the speed is calculated it will result in 20 MPH. $$\frac{Distance}{\frac{Duration}{60}} = 20$$

$$\frac{60 \times Distance}{20} = 3 \times Distance = Duration$$

Based off the formula, we will have to find the trips whose speed is above 20 MPH and set it to 20 MPH, then update tripduration by multiplying the distance by 3. **Before we can do any of this we need to create the distance and speed column**. The 'trip' table doesn't have distance and speed columns so they have to be manufactured. It's more efficient to recreate the 'trip' table from scratch and add in the columns then to try to update the prexisting table. The new table with the distance and speed columns will be called 'trip_ds'

In [ ]:
Queries.recreate_trip()

In [ ]:
speed_outliers_query = """
            UPDATE trip_ds
               SET speed = 20,
                   tripduration = distance * 3
             WHERE speed > 20;
             """
Queries.execute_query(conn,speed_outliers_query)

We dealt with outliers on the upper end of speed. Now let's deal with values on the lower end up speed. The lower end is tricky because of round trips. Round trips are when a rider starts and ends at the same station. Because of this, those trips' distances are calculated as 0 resulting in the speed being zero. To determine whether or not a round trip was valid or not we have to take into consideration the duration of the trip. To fix these outliers two assumptions will be made.
- Assumption 1: A valid round trip has a minimum distance of 0.5 miles (0.25 each way). 
- Assumption 2: The rider was traveling at the mean speed value of 6 MPH (mean calculated after filtering out the 0 MPH trips)

Combining both assumptions, a valid round trip should have a minimum trip duration of 5 minutes. Any trip that has a distance of 0 and a tripduration less than 5 we will set the tripduration to 5, set the speed to 6 MPH, and set the distance to 0.5 miles

In [ ]:
roundtrip_outliers_query = """
                UPDATE trip_ds
                   SET tripduration = 5,
                       distance = 0.5,
                       speed = 6
                 WHERE distance = 0 
                   AND tripduration < 5;
                 """
Queries.execute_query(conn, roundtrip_outliers_query)

## Station Table Update I: Station Status
There are stations with the same name, but have different stationid values. When the you inspect the locations of the stations with the same names they are very close to one another. Additionally, if you filter the trips based on each stationid (seperately) you see that one of those station's trips ends at a certain point and the other station's trips begin at that point. In other words, stations that have the same name, but different ID values where moved to a nearby location. 

In this section we are going to add two new columns to the 'station' table called birth and death. The birth column will represent the date of the first trip that was taken from the station. The death column represents the date of the last trip that was taken from the station. Stations are considered dead if there wasn't a trip within the last month.

In [ ]:
add_columns_query = """
            ALTER TABLE station
            ADD COLUMN birth TIMESTAMP,
            ADD COLUMN death TIMESTAMP;
            """
Queries.execute_query(conn, add_columns_query)

In [ ]:
Queries.birth_certificate(conn)

In [ ]:
set_death_null = """
        UPDATE station
           SET death = NULL
         WHERE death <= '2020-12-31'
           AND death > '2020-12-01';
        """
Queries.execute_query(conn, set_death_null)

In [24]:
profile = "select * from profile"
data, colnames = Queries.execute_query(conn, profile, cols_data=True)

In [25]:
df = pd.DataFrame(data, columns=colnames)

In [27]:
df = df.replace(-1,np.nan)

In [36]:
df.loc[:,df.isnull().any()]

,hsc23,hsc24,hsc25,hsc27,hsc30,hsc31,hsc32,hsc33,rnt11,rnt12,rnt13
0,545.8,708.5,792.5,411.6,1840000.0,735620.0,349480.0,962000.0,0.056,0.218,0.507
1,590.6,557.3,629.7,262.7,3647220.0,1075000.0,425340.0,1315000.0,0.049,0.154,0.442
2,587.7,471.6,776.8,464.6,994500.0,500000.0,307810.0,750000.0,0.085,0.413,0.893
3,365.8,452.7,608.0,428.0,732500.0,469580.0,287500.0,580000.0,0.070,0.409,0.851
4,260.4,260.1,350.4,188.1,435000.0,280000.0,162670.0,320000.0,0.182,0.860,0.995
5,438.9,497.3,899.8,308.3,3300000.0,1000000.0,450000.0,1346590.0,0.029,0.135,0.550
6,504.8,479.7,544.1,457.7,1450000.0,625000.0,301670.0,793500.0,0.039,0.615,0.921
7,543.0,409.6,772.1,385.0,981500.0,500000.0,316520.0,1081780.0,0.048,0.383,0.832
8,442.4,480.7,761.4,578.3,1400000.0,472500.0,250000.0,674100.0,0.067,0.509,0.950
9,306.2,338.0,707.1,141.5,980000.0,565000.0,250000.0,655840.0,0.039,0.680,0.973
10,309.9,351.8,339.1,258.3,850000.0,495000.0,221300.0,533820.0,0.065,0.810,0.988
11,346.3,344.2,524.9,303.4,1247750.0,625000.0,258000.0,723500.0,0.033,0.608,0.943
12,314.2,291.0,348.3,319.3,573000.0,350000.0,201620.0,529500.0,0.145,0.748,1.000
13,306.5,330.0,645.6,317.7,1242750.0,499500.0,229270.0,624340.0,0.039,0.535,0.972
14,275.9,304.7,344.2,616.6,763000.0,440000.0,285710.0,511670.0,0.007,0.675,0.972
15,210.6,259.3,343.5,238.5,436450.0,332500.0,166670.0,457500.0,0.261,0.810,0.991
16,261.7,254.0,450.9,333.0,535000.0,287500.0,200000.0,441090.0,0.081,0.823,0.989
17,252.2,214.7,963.1,335.3,613000.0,312500.0,260000.0,355000.0,0.070,0.699,0.989
18,292.1,317.1,1106.7,199.0,475000.0,280000.0,183890.0,433000.0,0.304,0.920,1.000
19,366.6,219.5,612.3,NaN,437000.0,233330.0,189920.0,206250.0,0.304,0.920,1.000
20,241.1,203.2,672.6,114.3,449950.0,221670.0,167740.0,280000.0,0.246,0.937,0.996
21,310.5,225.9,636.6,NaN,442500.0,218330.0,177780.0,190000.0,NaN,NaN,NaN
22,249.7,257.3,569.7,NaN,385000.0,247500.0,134210.0,NaN,0.137,0.886,0.998
23,275.4,236.3,627.8,72.1,387500.0,235000.0,190630.0,250230.0,0.246,0.937,0.996
24,296.5,241.8,503.3,NaN,457000.0,275000.0,187960.0,175000.0,0.112,0.911,1.000
25,218.1,232.8,290.7,59.9,787500.0,328330.0,187500.0,646400.0,0.048,0.590,0.933
26,231.6,219.9,489.9,253.7,405000.0,230000.0,147220.0,156750.0,0.117,0.845,0.996
27,214.7,216.6,347.3,425.9,490000.0,291250.0,189350.0,449500.0,NaN,NaN,NaN
28,219.9,239.2,423.8,175.4,500000.0,275000.0,188540.0,190000.0,0.052,0.841,0.997
29,191.6,203.0,350.4,275.9,400000.0,237590.0,163330.0,187000.0,0.091,0.821,1.000
30,NaN,NaN,342.1,175.1,8000000.0,4250000.0,732390.0,1900000.0,0.029,0.159,0.321
31,329.0,324.8,555.7,281.2,9842890.0,3935170.0,722320.0,3225000.0,0.029,0.159,0.321
32,113.2,529.6,798.8,311.4,5472400.0,1137500.0,612500.0,1588470.0,0.050,0.217,0.479
33,NaN,822.4,427.6,366.2,5925000.0,1656250.0,398130.0,1550000.0,0.059,0.244,0.372
34,NaN,NaN,1117.9,310.5,NaN,NaN,917400.0,2036500.0,0.059,0.244,0.372
35,146.5,221.4,854.2,284.1,8450000.0,1950000.0,628970.0,1205000.0,0.029,0.139,0.380
36,124.1,261.7,560.7,266.4,11927500.0,1855830.0,526920.0,1608890.0,0.057,0.277,0.482
37,141.6,312.4,337.4,320.0,11150000.0,2245990.0,647060.0,1650000.0,0.013,0.088,0.544
38,1051.7,494.8,798.8,237.5,1662500.0,850000.0,305840.0,596500.0,0.068,0.384,0.803
39,777.6,648.8,768.3,581.2,2387500.0,700000.0,340000.0,870000.0,0.194,0.438,0.845
40,480.2,398.3,681.4,551.8,3500000.0,660000.0,245450.0,743580.0,0.227,0.475,0.870
41,1390.2,1246.6,611.0,332.7,2012500.0,775000.0,239750.0,544730.0,0.052,0.444,0.956
42,319.3,379.6,392.0,466.9,850000.0,525000.0,304880.0,572500.0,0.028,0.267,0.895
43,369.1,316.8,650.1,398.7,740000.0,494580.0,286960.0,814800.0,0.010,0.288,0.689
44,311.1,312.7,419.1,370.6,712500.0,425000.0,274400.0,479000.0,0.041,0.575,0.988
45,317.4,331.0,302.5,544.1,792000.0,436670.0,230000.0,459000.0,0.035,0.555,0.986
46,290.7,341.4,521.2,405.5,706500.0,416670.0,236670.0,467500.0,0.013,0.591,0.935
47,283.5,301.0,39.4,312.4,970000.0,425000.0,10710.0,590460.0,0.000,0.242,0.928
48,300.1,298.3,343.2,304.0,898890.0,518330.0,310320.0,680000.0,0.068,0.619,0.984
49,273.2,271.0,NaN,315.2,856000.0,450000.0,316670.0,495000.0,0.010,0.626,0.950
50,275.7,269.1,256.3,372.1,576930.0,335500.0,184670.0,435000.0,0.027,0.684,1.000
51,256.5,233.3,227.0,296.2,544000.0,320000.0,136000.0,315500.0,NaN,NaN,NaN
52,259.1,271.0,8511.5,242.8,895000.0,570000.0,229690.0,639000.0,NaN,NaN,NaN
53,226.4,238.5,277.0,316.8,465000.0,301250.0,132140.0,305000.0,0.069,0.819,0.995
54,233.3,225.9,NaN,277.9,520000.0,309000.0,NaN,380000.0,NaN,NaN,NaN
55,205.2,211.3,263.3,233.3,425000.0,245000.0,57920.0,342500.0,NaN,NaN,NaN
56,235.1,236.8,391.2,239.6,447530.0,253750.0,163690.0,315000.0,0.088,0.826,0.994
57,236.1,223.9,236.3,270.7,568000.0,356000.0,215830.0,330000.0,NaN,NaN,NaN
58,224.6,218.1,NaN,279.8,545000.0,380000.0,NaN,352500.0,NaN,NaN,NaN