# **Modifying the Database**
In the last notebook we took all of our gathered data and built created our database from scratch. In this section we will be modifying some tables through updates and deletes to get it ready for our Exploratory Data Analytics in the following section. The two schemas that we will focus on is the Trip and Stations schema. The modifying of these schemas has to be done on a massive scale and it requires us to clean it directly in the database itself. 

The other neighborhood schema has small datasets  that can be cleaned locally. More so than that, it is important that these tables remain raw in the database so that we conserve the integrity of the data. If we want to clean it we have the OPTION of cleaning it how we see fit at any time as compared to finalizing the clean. Directly related to that idea, another person querying from the database won't know how we chose to clean it and we might forget ourselves.

### **Connecting to the Database**

In [1]:
pip install psycopg2-binary;

Collecting psycopg2-binary
  Using cached psycopg2_binary-2.8.6-cp37-cp37m-manylinux1_x86_64.whl (3.0 MB)
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.6
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2

In [3]:
# Put the password in 
PGHOST = ''
PGDATABASE = ''
PGUSER = ''
PGPASSWORD = ''

In [4]:
# Database Context Manager
try:   
    # Set up a connection to the postgres server.    
    conn = psycopg2.connect(user = PGUSER,
                            port = "5432",
                            password = PGPASSWORD,
                            host = PGHOST,
                            database = PGDATABASE)
    # Create a cursor object
    cursor = conn.cursor()   
    cursor.execute("SELECT version();")
    record = cursor.fetchone()
    print("Connection Success:", record,"\n")

except (Exception, psycopg2.Error) as error:
    print("Error while connecting to PostgreSQL", error)

Connection Success: ('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)

In [7]:
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import seaborn as sns
import sys

In [8]:
sys.path.append(os.path.join(os.getcwd(),'Data','Scripts'))
import Queries

## **Station Table Update: Station Status**
The ecosystem of stations in a bike share service is always changing. The companies add new stations, remove stations, and occasionally moves stations to nearby locations. In this section we are going to add two new columns to each station table in the stations schema called birth and death. 

The birth column will represent the date of the first trip that was taken from the station. The death column represents the date of the last trip that was taken from the station. Stations are considered dead if there wasn't a trip within Decemember of 2020. **Any station that is still active will have a null value in the death column.**

In [13]:
for service in services:
    add_columns_query = f"""
            ALTER TABLE stations.{service}_station
            ADD COLUMN birth TIMESTAMP,
            ADD COLUMN death TIMESTAMP;
            """
    Queries.execute_query(conn, add_columns_query)

In [ ]:
for service in ['blue', 'capital','citi']:
    Queries.birth_certificate(conn, service)

In [ ]:
for service in ['bay','divvy']:
    Queries.birth_certificate(conn, service, id_type='VARCHAR')

In [7]:
# Set the stations that are still alive to have a death of null
for service in services:
    set_death_null_query = f"""
            UPDATE stations.{service}_station
            SET death = null
            WHERE death <= '2020-12-31'
              AND death >= '2020-12-01';
            """
    Queries.execute_query(conn, set_death_null_query)

<p style="text-align:center;font-style:italic"> Note: Stations are derived from the trip data, therefore it is important to determine which stations exist in the system before we start modifying trip data. Even if we determine that a 12 hour trip is an outlier and remove it from the data, the station that it started from is still valid. </p>

<hr>

## **Trip Table Cleaning** 
### **Trip Table Cleaning I: Handling Outliers - Speed**
In this section we are going to modify trips whose speed (MPH) are physically unlikely. Luckily, we have a reference from the different services on what a speed outlier might look like. According to them, their pedal assisted e-bikes can go up to 18 MPH. In the sport of cycling, although not on a pedal assisted bike, a reasonably experienced cyclist can reach over 19 MPH. Using a nicer whole number, we'll use 20 MPH as a conservative cutoff and anything over that will be considered an outlier.

Instead of deleting the outliers, let's make an effort to conserve as much data as possible. To handle speed outliers, we are going to cap the speed at 20 MPH. Any trip that has a speed over 20 MPH we are going to adjust the trip duration in a way that when the speed is calculated it will result in 20 MPH. $$\frac{Distance}{\frac{Duration}{60}} = 20$$

$$\frac{60 \times Distance}{20} = Duration$$

$$3 \times Distance = Duration$$

<p style="text-align:center; font-style:italic"> Note: If strapped for time, there aren't that many trips that are outliers and there will still be millions of rows. We are performing UPDATES which are the most expensive transactions in PostgreSQL and it will require a VACUUM after the fact. </p>

In [6]:
services = ['bay', 'blue', 'capital', 'citi', 'divvy']

In [ ]:
# Set speed over 20 equal to 20 and adjust the duration
for service in services:
    speed_outliers_query = f"""
            UPDATE trips.{service}_trip
               SET speed = 20,
                   duration = distance * 3
             WHERE speed > 20;
             """
    Queries.execute_query(conn,speed_outliers_query)

We were able to update the speed column on the upper end because we are fairly certain that the bikes can't go over 20 MPH, but what about speed on the lower end. Specifically the trips that have a speed of 0 MPH which is a result of a round trip. Round trips occur when a rider starts and ends at the same station, resulting in a distance of zero miles, thus a speed of zero. So how do we deal with this? Almost the same as with the upper speed value. We are going to set the speed to be the average 6 MPH and use the same formula to find the distance instead. 
$$\frac{Distance}{\frac{Duration}{60}} = 6$$

$$Distance = \frac{6 \times Duration}{60}$$

$$Distance = \frac{Duration}{10}$$



<p style = "text-align:center;font-style:italic"> Note on Average Speed: It was found by excluding the 0 MPH trips, after the 20 MPH adjustment, and was 6 MPH for every bike service </p>

In [21]:
# Set round trips' speed to 6 and adjust the distance
for service in services:
    roundtrip_outliers_query = f"""
                UPDATE trips.{service}_trip
                   SET speed = 6,
                       distance = duration / 10
                 WHERE distance = 0;
                 """
    Queries.execute_query(conn, roundtrip_outliers_query)

### **Trip Table Cleaning II: Removing Time Errors - Start Time After End Time**

Anytrip with a start time greater than an end time is an error and will get deleted. It is possible that the two values were just swapped, but the cost of swapping them is more expensive than the trips are worth. Additionally, it's such a small amount of data that it's better to just remove them. The operations need to swap them would be:
- Find the incorrect values
- Move them to a temporary table with the correct order
- Delete them from the original table
- Reinsert them

In [23]:
for service in services:
    delete_swap_query = f"""
             DELETE FROM trips.{service}_trip
             WHERE starttime >= endtime
             """
    Queries.execute_query(conn, delete_swap_query)

### **Trip Table Cleaning III: Removing Outliers - Trip Duration**
Before we remove outliers, we have to define what an outlier is. First let's get a feeling for how the trip duration values are distributed. The trip tables range from 7M to 111M trips, which means we can't query an entire table everytime we want to analyze something. For each table we will take a sample of 1M rows. Our sampling needs to fufill three criteria:

<ul style="list-style-type:none;" disabled>
    <li> <input type="checkbox"> The sampling needs to be random 
    <li> <input type="checkbox" disabled> The sampling needs to be large enough
    <li> <input type="checkbox" disabled> The query needs to be decently fast 
</ul>

#### **The Sampling Procedure**

Unfortunately the ideal Bernoulli sampling in PostgresSQL meets the random condition, but is way too slow for our needs. And the System sampling, although fast enough, isn't truly random. To overcome these limitations, we will use the System sampling for speed and then make the selection of the rows random. The sampling process is as follows:

<ol>
    <li> System sample 1% of the data from a table
    <li> Order the results of that sample randomly <code> ORDER BY RANDOM() </code>
    <li> Take the first 20,000 rows (100,000 for CitiBike)
    <li> Repeat the previous steps 50 times (10 for CitiBike)
</ol> 
    
    
<p style="text-align:center;font-style:italic"> Note: there is a chance that there are duplicate rows in the sampling. The more trips that a service has, the less likely repeats will appear. </p>

#### **The Samples**

In [8]:
bay_sample = Queries.get_random_rows(conn, 'bay', samples = 1000000)

In [9]:
blue_sample = Queries.get_random_rows(conn, 'blue', samples = 1000000)

In [10]:
capital_sample = Queries.get_random_rows(conn, 'capital', samples = 1000000)

In [11]:
citi_sample = Queries.get_random_rows(conn, 'citi', samples = 1000000)

In [12]:
divvy_sample = Queries.get_random_rows(conn, 'divvy', samples = 1000000)

#### **Sampling Statistics**

In [13]:
pd.DataFrame([bay_sample.duration.describe(), 
              blue_sample.duration.describe(),
              capital_sample.duration.describe(),
              citi_sample.duration.describe(),
              divvy_sample.duration.describe()
             ], index = ['bay','blue','capital','citi','divvy'])

,count,mean,std,min,25%,50%,75%,max
bay,1000000.0,16.379889,227.036407,0.02,6.12,9.89,15.830000,90228.796875
blue,1000000.0,28.460052,1113.783447,1.02,6.98,11.81,19.799999,580877.250000
capital,1000000.0,20.065739,307.928467,0.02,6.68,11.42,19.549999,139572.796875
citi,1000000.0,17.041601,208.746826,1.00,6.38,10.77,18.690001,107215.867188
divvy,1000000.0,21.115494,426.904938,0.02,7.00,12.00,21.000000,226020.281250

All of our duration distrubtions look similar: trip duration is drastically skewed to the right. Because of the skew our mean and standard deviations aren't reliable measures to use for outlier detection. Our standard deviations range from 2.7hrs to 11hrs, yet our median values are all under 12m and the 75th percentiles barely breach the 20m mark. 

It appears that quantiles are a good measure to use to determine outliers and seem to be more representative of real life. However, each different service has their own distributions so there isn't a one-size-fits-all quantile measure to use. The 99th percentile may be 66m for service A, but 160m for service B. So the question becomes: ***Is there a universal duration cutoff value that can be used for all bike share services?***

To find the answer to that question, we first need to asses whether "Bike Share Trip Duration Behavior" is universal. ***Do people that use Bike Share services take the same lenghts of trips, regardless of the service?***

#### **Universal Bike Share Behavior - Duration Statistical Tests**

When we ask the question whether riders of bike share services behave the same way, what we are asking is if the underlying distributions are the same across all the services. We are looking at one dependent variable (duration), across five different services, on distributions that aren't normal. With those three characteristics we can use a Kruskal-Wallis Test to see if the underlying distributions are the same. 

- The Null Hypotheses: $H_0:$ The samples all originate from the same distribution and have the same median values
- The Alternative Hypotheses: $H_1:$ At least one sample originates from a different distribution and has a different median

**Kruskal-Wallis H Test**

In [15]:
from scipy import stats

In [27]:
stats.kruskal(bay_sample.duration, blue_sample.duration, capital_sample.duration, citi_sample.duration, divvy_sample.duration)

KruskalResult(statistic=42476.35929180635, pvalue=0.0)

**Result:** 
With a p-value of 0 there is enough evidence, at any signficant level, to reject the null hypothesis that the different samples all originate form the same distribution and have the same median values.

**Pairwise Mann-Whitney U Test**

From the Kruskal-Wallis test, we only know that at least one sample originates from a different distribution and we don't know how bike services compare pairwise. In this section we will compare each bike share service to another on a pairwise level. The null hypothesis is the same as the Kruskal-Wallis Test

BayWheels Comparisons

In [35]:
stats.mannwhitneyu(bay_sample.duration, blue_sample.duration), \
stats.mannwhitneyu(bay_sample.duration, capital_sample.duration), \
stats.mannwhitneyu(bay_sample.duration, citi_sample.duration), \
stats.mannwhitneyu(bay_sample.duration, divvy_sample.duration)

(MannwhitneyuResult(statistic=432718288960.5, pvalue=0.0),
 MannwhitneyuResult(statistic=444568916420.5, pvalue=0.0),
 MannwhitneyuResult(statistic=469393838548.0, pvalue=0.0),
 MannwhitneyuResult(statistic=427988173571.0, pvalue=0.0))

BlueBike Comparisons

In [36]:
stats.mannwhitneyu(blue_sample.duration, capital_sample.duration), \
stats.mannwhitneyu(blue_sample.duration, citi_sample.duration), \
stats.mannwhitneyu(blue_sample.duration, divvy_sample.duration)

(MannwhitneyuResult(statistic=489600684066.5, pvalue=1.962683214484485e-143),
 MannwhitneyuResult(statistic=464290382392.0, pvalue=0.0),
 MannwhitneyuResult(statistic=493846914443.0, pvalue=1.2376110963922516e-51))

CapitalBike Comparisons

In [37]:
stats.mannwhitneyu(capital_sample.duration, citi_sample.duration), \
stats.mannwhitneyu(capital_sample.duration, divvy_sample.duration)

(MannwhitneyuResult(statistic=475259769860.5, pvalue=0.0),
 MannwhitneyuResult(statistic=483904096488.5, pvalue=0.0))

CitiBike Comparisons

In [38]:
stats.mannwhitneyu(citi_sample.duration, divvy_sample.duration)

MannwhitneyuResult(statistic=458944167547.5, pvalue=0.0)

**Result:**
Every null hypothesis got rejected and no two bike share service samples come from the same underlying distribution. However, there may be a way to come up with a "psuedo-universal" cutoff time that can be used to determine outliers for ALL services.

#### **Maximum Quantile Threshold**

In a prior section, the example was given: "The 99th percentile may be 66m for service A, but 160m for service B". If 66m is the 99th percentile for service A, then 160m is greater than the 99th percentile for service A. If we were looking to capture AT LEAST 99% of the data in both services then using 160m would satisfy that condition. 

We can use this idea to get a single value that would give us **AT LEAST** a certain percentile of every distribution. Which is why we call it "psuedo-univeral". The aim is to keep a minimum of 95% of the data, we will look for one value that would work for the 2.5th percentile and one value that would work for the 97.5th percentile. Using this method, we can get the percentiles directly from the data using <code> percentile_cont </code>.

In [24]:
percentiles = pd.DataFrame(columns= ['service', 'lower', 'upper'])


for service in services:
    percentile_query = f"""
        SELECT 
          '{service}' AS service, 
          PERCENTILE_CONT(0.025) WITHIN GROUP (ORDER BY duration) AS lower,
          PERCENTILE_CONT(0.975) WITHIN GROUP (ORDER BY duration) AS upper
        FROM trips.{service}_trip;
        """
    percentiles = percentiles.append(Queries.execute_query(conn, percentile_query, to_frame=True))

In [25]:
percentiles

   service  lower  upper
0      bay   2.21  53.32
0     blue   2.82  69.28
0  capital   2.60  87.30
0     citi   2.38  44.57
0    divvy   2.72  72.00

In [38]:
outliers = percentiles.lower.min(), percentiles.upper.max()
outliers

(2.21, 87.3)

<p style="text-align:center" > What are the actual percentile values for 2.21 and 87.3 for each service? </p>

In [32]:
actual_percentiles = pd.DataFrame(columns = ['service','lower_min_actual', 'upper_max_actual'])

for service in services:
    percentile_actual_query = f"""
            SELECT 
              '{service}' AS service,
              PERCENT_RANK({percentiles.lower.min()}) WITHIN GROUP (ORDER BY duration) * 100 AS lower_min_actual,
              PERCENT_RANK({percentiles.upper.max()}) WITHIN GROUP (ORDER BY duration) * 100 AS upper_max_actual
            FROM trips.{service}_trip;
            """
    actual_percentiles = actual_percentiles.append(Queries.execute_query(conn, percentile_actual_query, to_frame=True))

In [35]:
merged = percentiles.merge(actual_percentiles, on='service')
merged['percentile_range'] = merged.upper_max_actual - merged.lower_min_actual
merged

   service  lower  upper  lower_min_actual  upper_max_actual  percentile_range
0      bay   2.21  53.32          2.486306         98.884815         96.398510
1     blue   2.82  69.28          1.076714         98.352162         97.275449
2  capital   2.60  87.30          1.424255         97.499375         96.075121
3     citi   2.38  44.57          1.996280         99.365758         97.369479
4    divvy   2.72  72.00          1.669957         98.239076         96.569119

#### **Removing Duration Outliers**

In [ ]:
for service in services:
    Queries.delete_duration_outliers(conn, service, outliers)

<hr>

### **Full Vacuum**
With all of the updates and deletes, let's vacuum the data. We are performing a full vacuum to clear "dead data" that is taking up disk space. The reason we are doing this now is because the next section requires a lot of reading from the database and we don't want to query from a bloated database. 

<p style="text-align:center;font-style:italic"> <b> The full vacuum takes a while to finish and locks the table. I recommend running the full vacuum from the PgAdmin interface and not the cell </b> </p>

In [ ]:
# Queries.VACUUM_FULL(conn)

<div style="line-height:11px">
    <p style="text-align:right;font-style:italic;"> Data Science = Solving Problems = Happiness </p>
    <p style="text-align:right"> Denzel S. Williams </p>
</div>